@import 'mixin'
@import 'variables'

.dateSelector
  // +pos($p: relative)
  // display: inline-block
  // width: 100%
  // max-width: 670px

  position: relative
  display: inline-block
  width: 100%
  // max-width: 670px
  // max-width: 750px
  // +respond-to('tablet')
  //   width: 70vw

.selectedDate
  +pos($p: relative)
  +size($w: 118px, $h: 30px)
  +fs($fz: 14px, $lh: 30px)
  border-radius: 3px
  border: 1px solid #BDBDBD
  display: none
  padding-left: 10px
  margin-right: 8px
  box-sizing: border-box
  &::after
    // +imgBg($w: 16px, $h: 16px, $img-url: 'img-venom/img_datepicker.png')
    +pos($p: absolute, $t: 6px, $r: 4px)
    content: ''
    cursor: pointer
  &.is-show
    display: inline-block


.datePicker-title
  +size($w: calc(100% / 7 * 5), $h: 100%)
  display: inline-block

// -------------------------------------
//   Scaffolding
// -------------------------------------
.datePicker
  +pos($p: relative)
  +size($w: 244px, $h: 550px)
  background-color: #fff
  border-radius: 6px
  border: 1px solid  #BDBDBD
  box-sizing: border-box
  z-index: 3
  box-shadow: 0 1px 1px rgb(0 0 0 / 8%), 0 1px 3px 1px rgb(0 0 0 / 12%)

.datePicker-head
  +fs($fz: 18px, $c: $font-light-brown, $fw: bolder, $lh: 60px)
  +size($h: 60px)
  background-color: $font-green
  cursor: default
  text-align: center
  +respond-to('tablet')
    font-weight: bold
    font-size: 2.2rem

.datePicker-box
  +size($h: calc(100% - 30px))

.datePicker-cell
  +fs($fz: 15px, $lh: 10px)
  +size($w: calc(100% / 7), $h: 65px)
  display: inline-block
  text-align: center
  vertical-align: middle
  cursor: pointer
  border-bottom: 1px solid #eee
  border-right: 1px solid #eee
  position: relative
  white-space: nowrap
  +respond-to('tablet')
    +fs($fz: 1.6rem)
    // &:hover
    //   background-color: orange
  &.is-select
    // +fs($c: #FFF)
    // background-color: #2bd
    color: #333c39
    background-color: orange
  &.is-disabled,
  &.is-disabled:hover
    color: #b3adad
    cursor: not-allowed
  &.is-empty
    cursor: default
    &:hover
      background-color: transparent
  &.is-disabled,
  &.is-disabled:hover
    color: #b3adad
    cursor: not-allowed
    background-color: transparent
  &.alert.alert-danger
    margin: 0
    &.is-disabled,
    &.is-disabled:hover
      color: #b3adad
      cursor: not-allowed
      background-color: transparent
      border: none
      border-bottom: 1px solid #eee
      border-right: 1px solid #eee
  +respond-to('tablet')
    height: 70px

.datePicker-cell-date
  position: absolute
  right: 6px
  top: 6px
  font-size: 13px
  +respond-to('tablet')
    right: 12px
    top: 9px
    font-size: 16px

.datePicker-cell-privateRoom
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  right: 0
  bottom: 3px
  left: 0
  width: 20px
  height: 20px
  font-size: 12px
  color: white
  border-radius: 4px
  margin: auto
  border-radius: 4px
  background-color: #a4a4a4
  padding: 0 20px
  +respond-to('tablet')
    bottom: 6px
    font-size: 13px

span.datePicker-cell
  &:nth-of-type(-n+7)
    // +fs($fw: bolder)
    // cursor: pointer
    display: inline-flex
    align-items: center
    justify-content: center
    flex-flow: column
    cursor: default
    background-color: $font-pink
    height: 40px
    // &:hover
    //   +fs($c: inherit)
      // background-color: inherit


// -------------------------------------
//   Components
// -------------------------------------

.btn-datePicker-arrow
  +size($w: calc(100% / 7), $h: 100%)
  +fs($fz: 24px, $lh: 30px)
  display: inline-block
  vertical-align: top
  cursor: pointer
  position: relative
  color: $font-light-brown
  opacity: 0.8
  +respond-to('tablet')
    font-size: 2.2rem
    font-weight: bold
    &:hover
      +fs($c: $font-light-brown)
      opacity: 1
  &.is-disabled
    color: #656565
    cursor: not-allowed


// -------------------------------------
//   States
// -------------------------------------

// Large Size
.datePicker
  // +size($w: 100vw)
  +size($w: 100%, $h: auto)
  min-width: 305px
  margin: auto
  +pos($p: relative, $l: 0, $r: 0)
  &.is-large
    +respond-to('tablet')
      // +pos($p: relative, $l: -8px, $r: 0)
    // +pos($p: relative, $l: 0, $r: 0)
  // .datePicker-cell
    // +size($h: auto)
  &.is-order
    width: 100%
    +pos($p: relative, $t: 10px)
    +respond-to('tablet')
      +size($w: 100%)
      // left: 55px
      // top: 6px
      min-width: 100%

.booked-text
  color: #19a51b
  &.is-danger
    color: #f13515
  .is-danger
    color: #b3adad

.booked-num
  +respond-to('mobile-lg')
    padding: 3px
