<div class="dateSelector">
  <div class="selectedDate" #inp (click)="showDatePicker();">{{value}}</div>
  <div class="datePicker is-large" (appClickOutside)="hideDatePicker();" (click)="stopPropagation($event)">
    <div class="datePicker-head">
      <button
        class="btn-datePicker-arrow prev"
        [class.is-disabled]="isDisableMonth(-1)"
        (click)="handleMonth(-1)"><</button>
      <span class="datePicker-title">{{year}}/{{month}}月</span>
      <button
        class="btn-datePicker-arrow next"
        [class.is-disabled]="isDisableMonth(1)"
        (click)="handleMonth(1)">></button>
    </div>
    <div class="datePicker-box">
      <!-- <span class="datePicker-cell cell--week">{{'datePicker.week.su'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.mo'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.tu'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.we'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.th'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.fr'}}</span>
      <span class="datePicker-cell cell--week">{{'datePicker.week.sa'}}</span> -->
      <span class="datePicker-cell cell--week">日</span>
      <span class="datePicker-cell cell--week">一</span>
      <span class="datePicker-cell cell--week">二</span>
      <span class="datePicker-cell cell--week">三</span>
      <span class="datePicker-cell cell--week">四</span>
      <span class="datePicker-cell cell--week">五</span>
      <span class="datePicker-cell cell--week">六</span>
      <button
        *ngFor="let pickerDay of pickerDays"
        class="datePicker-cell cell--day"
        [class.alert]="findHoliday(+pickerDay.timestamp)"
        [class.alert-danger]="findHoliday(+pickerDay.timestamp)"
        [class.is-empty]="pickerDay.date === ''"
        [class.is-disabled]="
          disabledBeforeToday(+pickerDay.timestamp)"
        [disabled]="
          disabledBeforeToday(+pickerDay.timestamp)"
        (click)="changeDay(pickerDay);passCurrentTS(+pickerDay.timestamp)">
        <span class="datePicker-cell-date">{{pickerDay.date}}</span>
        <!-- <span class="datePicker-cell-privateRoom" *ngIf="isPrivateRoom(+pickerDay.timestamp)">限包場</span> -->
        <br>
        <br>
        <!-- <span *ngIf="findHoliday(+pickerDay.timestamp)"><span>X</span> 日期{{holiday.alias}} {{holiday.holiday_ts}}</span> -->
        <span *ngIf="findHoliday(+pickerDay.timestamp)">休假</span>
        <!-- <span class="datePicker-cell-date">{{pickerDay.timestamp}}</span> -->
        <!-- <span
          class="booked-text"
          *ngIf="
            !isHoliday(+pickerDay.timestamp) &&
            !disabledBeforeToday(+pickerDay.timestamp) &&
            totalTents - allBookedTents[pickerDay.timestamp] !== 0">剩<span
              *ngIf="allBookedTents[pickerDay.timestamp]"
              class="booked-num">{{totalTents - allBookedTents[pickerDay.timestamp]}}</span><span *ngIf="!allBookedTents[pickerDay.timestamp]" class="booked-num">{{totalTents}}</span>
        </span>
        <span
          *ngIf="(totalTents - allBookedTents[pickerDay.timestamp] === 0 && !disabledBeforeToday(+pickerDay.timestamp)) || isHoliday(+pickerDay.timestamp)"
          [class.is-danger]="totalTents - allBookedTents[pickerDay.timestamp] === 0">
          客滿
        </span> -->
        <!-- <span
          class="booked-text"
          *ngIf="
            !pickerDay.disable  &&
            isDayOff(+pickerDay.timestamp)"></span>
        <span
          class="booked-text is-danger"
          *ngIf="
            pickerDay.date !== '' &&
            !pickerDay.disable &&
            !isDayOff(+pickerDay.timestamp) &&
            (!!bookedDate && !isBookedAvailable(+pickerDay.timestamp))">0</span> -->
      </button>
    </div>
  </div>

</div>
