<div class="confirmBox" *ngIf="props">
  <div class="confirmBox-container">
    <div class="confirmBox-head fs-3">
      {{ props.title }}
      <!-- <button class="btn-close" (click)="close()"></button> -->
    </div>
    <div class="confirmBox-body">
      <div class="confirmBox-content">
        <div class="confirmBox-msg">訂單編號：{{props.order_id}}</div>
        <div class="confirmBox-msg">預訂人：{{props.order_name}}</div>
        <div class="confirmBox-msg">{{props.msg}}</div>
      </div>
    </div>
    <div class="confirmBox-footer">
      <button class="btn btn-cancel" (click)="cancel()" [disabled]="isSubmitted" [class.is-disabled]="isSubmitted">否</button>
      <button class="btn btn-confirm" (click)="submit(); clickSubmit()" [disabled]="isSubmitted" [class.is-disabled]="isSubmitted">是</button>
    </div>
  </div>
</div>
