@import 'variables'

.main
  max-width: 1280px
  margin: 0 auto
  padding: 20px 30px

.grecaptcha-badge
  visibility: hidden

.wrapper
  display: flex
  flex-direction: column
  min-height: 100%
  height: 100%
  overflow-x: hidden
  // background-color: #f5f5f1
  animation: fadeIn .2s forwards ease
  &.is-notScroll
    overflow: hidden
    height: 100% !important
.wrapper-content
  height: 100%

.section-homestay
  // background: linear-gradient(180deg, #e6e0d166 90%,#fff  100%)
  background: linear-gradient(180deg,rgba(230, 224, 209, .5),rgba(230,224,209,0))
  padding-bottom: 17%
  +respond-to('tablet')
    padding-bottom: 5%
.section-camp
  padding-bottom: 17%
  +respond-to('tablet')
    padding-bottom: 5%
.title-line
  display: flex
  justify-content: flex-start
  align-items: center
  margin: 3.3rem 0px 4.5rem
  +respond-to('tablet')
    margin: 3.8rem 0 3.5rem
  +respond-to('desktop')
    margin: 7.2rem 0 6rem
  span:first-child
    font-size: 1rem
    letter-spacing: .2em
    line-height: 1.5
    text-transform: uppercase
    margin-right: 1rem
    font-family: Maax Regular,sans-serif
    font-weight: 400
  span:last-child
    height: 1px
    width: 100%
    display: inline-block
    background-color: $font-green
    width: 10.8rem


// font
.h1
  +fs($fz: 4.4rem, $c: $font-green)
  letter-spacing: 1.5px
  font-weight: 400
  +respond-to('tablet')
    font-size: 7rem
  +respond-to('desktop')
    font-size: 8.6rem
.h2
  +fs($fz: 4.4rem, $c: $font-green)
  letter-spacing: 1.5px
  font-weight: 300
  +respond-to('tablet')
    font-size: 6.2rem
  // +respond-to('desktop')
  //   font-size: 6.2rem
.h3
  color: $font-green
  font-size: 1.8rem
  line-height: 1.12
  font-weight: 300
  +respond-to('tablet')
    font-size: 3rem
  +respond-to('desktop')
    font-size: 3.6rem
.h4
  font-size: 2.2rem
  color: $font-green
  font-weight: 300
  +respond-to('tablet')
    font-size: 3rem
  +respond-to('desktop')
    font-size: 3.8rem
.h5
  font-size: 1.6rem
  color: $font-green
  font-weight: 600
  margin: 1rem 0
  +respond-to('tablet')
    font-size: 2.2rem
.p
  +fs($fz: 2rem, $c: $font-brown, $lh: 1.8, $fw: 300)
  letter-spacing: 4px
  +respond-to('tablet')
    font-size: 2.8rem
  +respond-to('desktop')
    font-size: 3.2rem
  +respond-to('desktop-xl')
    font-size: 3.8rem
.bullet-text
  color: $font-green
  font-size: 1.4rem
  letter-spacing: .2em
  line-height: 1.5
  +respond-to('tablet')
    font-size: 1.8rem
    line-height: 1.8
  +respond-to('desktop-lg')
    font-size: 2.2rem
.steps-text
  font-size: 1.3rem
  color: #999
  display: block
  padding-left: 10px
  padding-top: 6px
  +respond-to('tablet')
    font-size: 2.8rem
.detail-text
  font-size: 1.4rem
  padding: 0 0 1% 0
  +respond-to('tablet')
    font-size: 1.6rem
    padding: 0 0 1% 0
  +respond-to('desktop')
    font-size: 1.8rem
.label-text
  color: $font-green
  font-size: 1.8rem
  line-height: 1.12
  font-weight: 300
  letter-spacing: 0.2rem
  +respond-to('tablet')
    font-size: 2.8rem
// deco
.step
  display: inline-block
  width: 25px
  height: 25px
  background-color: $font-green
  border-radius: 50%
  color: $font-light-brown
  font-size: 1.6rem
  line-height: 25px
  text-align: center
  margin-right: 8px
  font-weight: bold
  +respond-to('desktop')
    width: 50px
    height: 50px
    font-size: 3.2rem
    line-height: 50px
    margin-right: 16px
  &.step--h5
    +respond-to('desktop')
      width: 36px
      height: 36px
      line-height: 36px
      font-size: 2.2rem
  &.step--thanks
    +respond-to('tablet')
      width: 35px
      height: 35px
      line-height: 35px
      font-size: 2rem
    +respond-to('desktop')
      width: 50px
      height: 50px
      font-size: 3.2rem
      line-height: 50px
      margin-right: 16px

// header

// Mobile only
.banner-mobile
  display: block
  height: 200px
  overflow: hidden
  position: relative
  +respond-to('tablet')
    display: none
.img-homeBanner
  height: 100%
  object-fit: cover
  object-position: bottom
  position: absolute
  width: 100%

// header
.header
  +respond-to('tablet')
    position: relative
    z-index: 10
    width: 100%
  // &.header--home
  //   +respond-to('tablet')
  //     position: absolute
  //   .logo,
  //   .header-nav
  //     +respond-to('tablet')
  //       color: #fff
// .header-content
//   display: flex
//   align-items: center
//   background-color: #F5F5F0
//   padding: 20px 20px 0
  // +respond-to('tablet')
  //   padding: 15px 60px
// .logo
//   margin-right: auto
//   font-size: 22px
//   height: 28px
//   +respond-to('tablet')
//     color: #000
// .logo-link
//   display: block
.header-nav
  display: flex
  margin-left: auto
  +respond-to('tablet')
    color: #000

.hr
  height: 1px
  background-color: #ddd
  width: 100%

// Button
// .btn-submit //old
//   +fs($fz: 2.2rem, $c: $font-pink)
//   +size($w: 100%, $h: 50px)
//   display: flex
//   justify-content: center
//   align-items: center
//   margin: 6.2rem 0
//   padding: 0 12px
//   text-align: center
//   // border: 1px solid $font-pink
//   background-color: $font-green
//   cursor: pointer
//   box-shadow: 0 3px 6px #666
//   border: 3px solid #657f7759
//   +respond-to('tablet')
//     max-width: 440px
//   &.is-disabled
//     cursor: not-allowed
//     opacity: 0.4
.btn-submit
  +size($w: 100%, $h: 46px)
  position: relative
  white-space: nowrap
  top: 0px
  border-radius: 4px
  position: relative
  border: none
  background: none
  font-family: 'Roboto', sans-serif
  transition: 0.1s all ease
  font-size : 2.2rem
  font-weight: 300
  box-shadow: 0px 0px 0px 0px #B8B8B8
  // background-color: orange
  color: $font-green
  cursor: pointer
  // border-bottom: 1px solid #101312
  letter-spacing: 1.2px
  display: flex
  align-items: center
  justify-content: center
  &.submit--border
    +fs($fz: 1.6rem, $c: $font-pink, $lh: 30px)
    +size($w: 100%, $h: 32px)
    display: inline-block
    margin: 0
    padding: 0 12px
    text-align: center
    border: 1px solid $font-pink
    flex: 0 0 42%
    cursor: pointer
    transition: opacity .3s ease
    opacity: 1
    border-radius: 0
    &.is-disabled
      background-color: transparent
      cursor: not-allowed
      opacity: 0.3
      +respond-to('tablet')
        background-color: #cccccc
    +respond-to('tablet')
      font-size: 2.2rem
      height: 62px
      line-height: 62px
      background-color: $font-green
      color: $font-pink
      margin-top: 2rem
      min-height: 62px
    &.submit--home
      font-size: 1.8rem
      height: 42px
      line-height: 42px
      background-color: $font-green
      color: $font-pink
      margin-top: 2rem
      +respond-to('tablet')
        font-size: 2.2rem
        height: 62px
        line-height: 62px
  &.is-disabled
    color: #999
    background-color: #ccc
    border-bottom: 1px solid #ccc
    cursor: not-allowed
  +respond-to('desktop')
    &:hover
      background-color: #45514d
      top: -2px
      border-bottom: 4px solid #38413e
      box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 25%)
    &:active
      top: 0px
      border: 1px solid #38413e
      background-color: #45514d
      box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25)
    &.is-disabled
      background-color: #ccc
      color:#666
      border-bottom: 1px solid #ccc
      cursor: not-allowed
      &:active,
      &:hover
        top: 0
        background-color: #ccc
        color:#666
        border-bottom: 1px solid #ccc
        box-shadow: none

.btn-book
  +size($w: 100%, $h: 4.6rem)
  white-space: nowrap
  top: 0px
  // border-radius: 4px
  position: relative
  border: none
  background: none
  font-family: 'Roboto', sans-serif
  transition: 0.1s all ease
  font-weight: 300
  box-shadow: 0px 0px 0px 0px #B8B8B8
  background-color: $font-green
  color: $font-light-brown
  cursor: pointer
  border-bottom: 1px solid #101312
  letter-spacing: 1.2px
  display: flex
  align-items: center
  justify-content: center
  font-size : 2rem
  margin-top: 16%
  +respond-to('tablet')
    font-size : 3.2rem
    height: 7rem
    margin-top: 8%
    max-width: 440px
    &:hover
      background-color: #45514d
      top: -2px
      border-bottom: 4px solid #38413e
      box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 25%)
    &:active
      top: 0px
      border: 1px solid #38413e
      background-color: #45514d
      box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25)
  &.is-disabled
    color: #999
    background-color: #ccc
    border-bottom: 1px solid #ccc
    cursor: not-allowed
  +respond-to('desktop')
    max-width: 100%
    &:hover
      background-color: #45514d
      top: -2px
      border-bottom: 4px solid #38413e
      box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 25%)
    &:active
      top: 0px
      border: 1px solid #38413e
      background-color: #45514d
      box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25)
    &.is-disabled
      background-color: #ccc
      color:#666
      border-bottom: 1px solid #ccc
      cursor: not-allowed
      &:active,
      &:hover
        top: 0
        background-color: #ccc
        color:#666
        border-bottom: 1px solid #ccc
        box-shadow: none
  // cursor: pointer
  // text-decoration: none
  // transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
  // -webkit-user-select: none
  // user-select: none
  // white-space: nowrap
  // background: #1cbb64
  // border: 1px solid #1cbb64
  // box-shadow: 0 1px 1px rgb(0 0 0 / 12%)
  // color: #fff
  // font-weight: 700
  // border-radius: 6px
  // display: block
  // font-size: 1.25rem
  // height: 3.5rem
  // width: 100%

.loading
  width: 80px
  height: 80px
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0
  margin: auto
  .dot
    width: 16px
    height: 16px
    display: block
    position: absolute
    top: 20%
    border-radius: 50%
    background-color: $font-green
    transform: translateY(-50%)
    animation: item7-dot 1.2s ease-in-out infinite
    &.dot1
      left: 20%
      transform: translateX(-50%)
    &.dot2
      left: 50%
      transform: translateX(-50%)
      animation-delay: 0.2s
    &.dot3
      transform: translateX(-50%)
      left: 80%
      animation-delay: 0.4s
  &.is-order,
  &.is-confirm
    height: 100%
    left: -10px
    top: 20px
    z-index: 10
    .dot
      width: 12px
      height: 12px
      background-color: #7bb7a5
    +respond-to('tablet')
      // background-color: transparent
      height: 100%
      top: 47px
  &.is-confirm
    +respond-to('tablet')
      top: 32px

// 調整右下角 Messenger bottom 位置
.fb_dialog_content > iframe:first-child
  bottom: 65px !important

@keyframes item7-dot
  0%
    opacity: 1
    top: 20%
  50%
    opacity: 0.3
    top: 0
  100%
    opacity: 1
    top: 20%

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1
