<div class="confirmBox" *ngIf="props">
  <div class="confirmBox-container">
    <div class="confirmBox-head">
      {{ props.title }}
      <!-- <button class="btn-close" (click)="close()"></button> -->
    </div>
    <div class="confirmBox-body">
      <div class="confirmBox-content">
        <!-- <div class="confirmBox-msg">訂單編號：{{props.order_id}}</div> -->
        <div class="confirmBox-msg">訂單編號：{{props.order.order_id}} <button class="btn btn-s btn-success" (click)="copyText(props.order.order_id)">複製</button></div>
        <div class="confirmBox-msg">預訂人：{{props.order.name}} <button class="btn btn-s btn-success" (click)="copyText(props.order.name)">複製</button></div>
        <div class="confirmBox-msg">Email：
          <span *ngIf="!editEmail">{{props.order.email}}</span>
          <div class="confirmBox-msg-row">
            <input type="email" *ngIf="editEmail" [value]="props.order.email" [(ngModel)]="new_email">
            <button class="btn btn-s btn-danger" *ngIf="editEmail" (click)="editEmail = false; new_email = ''">刪除</button>
          </div>

          <button *ngIf="!editEmail && !props.order.is_canceled_order" class="btn btn-s btn-success" (click)="editEmail = !editEmail">修改並重寄信</button>
          <button *ngIf="editEmail" [class.is-disabled]="!new_email" class="btn btn-s btn-success" (click)="updateOrder(props.order);editEmail = !editEmail">送出</button>
        </div>
        <div class="confirmBox-msg" *ngIf="props.order.adults">大人：{{props.order.adults}} 位</div>
        <div class="confirmBox-msg" *ngIf="props.order.children">小孩：{{props.order.children}} 位</div>
        <div class="confirmBox-msg" *ngIf="props.order.add_bed">加床：{{props.order.add_bed}} 張</div>
        <div class="confirmBox-msg">訂單建立時間：{{createdTimeToString(props.order.created_time)}}</div>
      </div>
    </div>
    <div class="confirmBox-footer">
      <button class="btn btn-cancel" (click)="cancel()" [disabled]="isSubmitted" [class.is-disabled]="isSubmitted">關閉</button>
    </div>
  </div>
</div>
