<app-nav-bar></app-nav-bar>

<main class="main">
  <h3>登記宿屋</h3><br/>

  <div class="inn-field">
    <div class="inn-inp">
      預訂人姓名: <input type="text" [(ngModel)]="name">
    </div>
    <div class="inn-inp">
      預訂人電話: <input type="tel" [(ngModel)]="phone">
    </div>
    <div class="inn-inp">
      入住日期: <input type="date" class="start-date">
    </div>
    <div class="inn-inp">
      離開日期: <input type="date" class="end-date">
    </div>
    <button class="btn btn-success btn-send" (click)="submit()">送出</button>
  </div>


</main>
