
<app-nav-bar></app-nav-bar>


<main class="main">
  <h3>山的抱抱-行事曆</h3>
  <iframe id="iframe" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTaipei&showTitle=0&showNav=1&showPrint=0&showTabs=0&showCalendars=0&showTz=0&showDate=1&src=NDBhMDgyY2Q0MjRlYTU2OWNlMjU5NGI5MDdjZjczN2ZiMDAzZGU5NGRlOTlkZTkzZDdmN2RmNmNiMDQyYjNhNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Mzg5MDZlMDZkNWRiMTUxMTA4NWZhMjk2MjQwY2E1OTc2ZmZmODg0Mzg3YjcyMjc3NTg5NjE4ZTQzMWNlZjgwM0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=NGY2MGZjNDQ1NTEyZTA3MzA0ZTg5Y2Q4YzY3YTBlYzQ4Yzk3NjNiNzFlN2MwOTY3NTI2ZWMwMDVkZmNlZDFlMEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YWEzZmJlM2NjNjNlOGEyZDRjMmMwNTRjNGM3OWNlZTRiODJkYTM4NjgyZTFiMjZiZjEzY2ZmY2MxN2NlNjM5Y0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ODEyYzM5MDgxM2MzZmQ2MzI4MDA2NGM3N2VkN2IwYzQ3MGY5MzAyZDU0NDVlNTFmYjg3Y2IxOTEyNzAyNmIwZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D81B60&color=%23F6BF26&color=%23009688&color=%234285F4&color=%23EF6C00" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>

  <div class="map-wrap">
    <!-- List 露營區A Start -->
    <section class="card-section section--a" *ngIf="initCanceledData[OrderType.CAMP_A]">
      <h2 class="card-area-name">五葉松 A區
        <button class="btn-card-toggle" (click)="toggleNotPrepaid(OrderType.CAMP_A)">
          <div class="checkbox checkbox--tool" [class.is-checked]="isNotPrepaid[OrderType.CAMP_A]">
            <fa-icon *ngIf="isNotPrepaid[OrderType.CAMP_A]" class="form-checkmark" [icon]="faCheck"></fa-icon>
          </div>未付訂
        </button>
        <button class="btn-card-toggle" (click)="filterCanceledData(OrderType.CAMP_A)">
          <div class="checkbox checkbox--tool" [class.is-checked]="isCanceledOrder[OrderType.CAMP_A]">
            <fa-icon *ngIf="isCanceledOrder[OrderType.CAMP_A]" class="form-checkmark" [icon]="faCheck"></fa-icon>
          </div>已取消＆過期訂單
        </button>
      </h2>
      <div class="card-scroll">
        <ng-container *ngFor="let data of initCanceledData[OrderType.CAMP_A]; let i = index;">
          <div class="card" *ngIf="
            (!data.is_prepaid && isNotPrepaid[OrderType.CAMP_A]) ||
            (!data.is_canceled_order && !isDue(data.end_date) && !isNotPrepaid[OrderType.CAMP_A]) ||
            (isDue(data.end_date) && isCanceledOrder[OrderType.CAMP_A] && !isNotPrepaid[OrderType.CAMP_A]) ||
            (data.is_canceled_order && isCanceledOrder[OrderType.CAMP_A] && !isNotPrepaid[OrderType.CAMP_A])">
            <div class="card-header bg-light">
              <div class="card-header-col">
                <span class="card-index fs-3 fw-bold">{{i + 1}} </span>
                <span class="card-name fs-3 fw-bold">
                  <span *ngIf="isDue(data.end_date)">(已過期)</span>{{data.name}}<span class="card-status status--nightGoing" *ngIf="data.is_night_going">有夜衝</span>
                  <br>
                  <span class="badge rounded-pill text-bg-danger" *ngIf="!data.is_prepaid">未付訂</span>
                  <span class="badge rounded-pill text-bg-success" *ngIf="data.is_prepaid">已付訂</span>
                  <span class="badge rounded-pill text-bg-secondary" *ngIf="!data.is_prepaid && notPaidPreFee(data.created_time)">逾期未付訂金</span>
                </span>
              </div>
              <div class="card-header-col">
                <div class="check-area area--danger"
                  [class.is-disabled]="data.is_canceled_order"
                  (click)="updateOrder(data, 'cancel')">
                  <div class="checkbox" [class.is-disabled]="data.is_canceled_order" [class.is-checked]="data.is_canceled_order">
                    <fa-icon *ngIf="data.is_canceled_order" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                  取消訂單
                </div>
              </div>

                  <!-- 過夜：{{data.nights}} 晚<br> -->

            </div>
            <div class="card-body">
              <h4 class="card-title">
                <!-- <div class="card-name fs-3 fw-bold">{{data.name}}</div> -->
              </h4>
              <div class="card-text">
                <div class="list-flex">
                  <div class="list-flex-box">
                    <!-- 口 夜衝<br> -->
                    {{data.start_date}}({{getCurrentDay(data.start_date)}})<br>
                    {{data.end_date}}({{getCurrentDay(data.end_date)}})<br>
                    <!-- 過夜：1 晚<br> -->
                    <!-- 帳數：3 帳 -->
                  </div>
                  <div class="list-flex-box">
                    <!-- 口 已付訂<br> -->
                    訂金：{{data.prepaid_fee}}<br>
                    小計：{{data.total_fee}}
                  </div>
                  <div class="list-flex-box">
                    <!-- 口 取消訂單<br> -->
                    <!-- 營位： camp_a<br> -->
                    帳數： {{data.tents}} 帳<br>
                    電話： {{data.phone}}
                    <!-- 訂單編號：{{data.order_id}}<br>
                    {{data.email}} -->
                  </div>
                  <!-- <div class="list-flex-box">

                  </div> -->
                </div>
              </div>
              <div class="check-area area--unChecked"
                [class.is-success]="data.is_prepaid"
                [class.is-disabled]="data.is_canceled_order || isDue(data.start_date)"
                (click)="updateOrder(data, 'prepaid')">
                <div class="checkbox" [class.is-checked]="data.is_prepaid" [class.is-disabled]="data.is_canceled_order">
                  <fa-icon *ngIf="data.is_prepaid" class="form-checkmark" [icon]="faCheck"></fa-icon>
                </div>
                已付訂
              </div>
              <div class="check-area area--unChecked"
                [class.is-success]="data.is_night_going"
                (click)="updateOrder(data, 'nightgoing')"
                [class.is-disabled]="!isNightRush(data.area, data.start_date, data.tents, data.is_night_going) ||
                data.is_canceled_order ||
                isDue(data.start_date)">
                <ng-container *ngIf="isNightRush(data.area, data.start_date, data.tents, data.is_night_going); else noNightRushing">
                  <div
                    class="checkbox"
                    [class.is-success]="data.is_night_going"
                    [class.is-checked]="data.is_night_going"
                    [class.is-disabled]="data.is_canceled_order">
                    <fa-icon *ngIf="data.is_night_going" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                  可夜衝
                </ng-container>
                <ng-template #noNightRushing>
                  不可夜衝
                </ng-template>
              </div>
              <button class="btn btn-primary btn-check-area" (click)="openDetail(data)">訂單詳情</button>
            </div>
          </div>
        </ng-container>
        <h4>--- 五葉松A區 訂單已滑到底了 ---</h4>
      </div>
    </section>
    <!-- List 露營區A End -->

    <br>
    <br>
    <br>
    <!-- List 露營區B Start -->
    <section class="card-section section--b" *ngIf="initCanceledData[OrderType.CAMP_B]">
      <h2 class="card-area-name">落羽松 L區
        <button class="btn-card-toggle" (click)="toggleNotPrepaid(OrderType.CAMP_B)">
          <div class="checkbox checkbox--tool" [class.is-checked]="isNotPrepaid[OrderType.CAMP_B]">
            <fa-icon *ngIf="isNotPrepaid[OrderType.CAMP_B]" class="form-checkmark" [icon]="faCheck"></fa-icon>
          </div>未付訂
        </button>
        <button class="btn-card-toggle" (click)="filterCanceledData(OrderType.CAMP_B)">
          <div class="checkbox checkbox--tool" [class.is-checked]="isCanceledOrder[OrderType.CAMP_B]">
            <fa-icon *ngIf="isCanceledOrder[OrderType.CAMP_B]" class="form-checkmark" [icon]="faCheck"></fa-icon>
          </div>已取消＆過期訂單
        </button>
      </h2>
      <div class="card-scroll">
        <ng-container *ngFor="let data of initCanceledData[OrderType.CAMP_B]; let i = index;">
          <div class="card" *ngIf="
            (!data.is_prepaid && isNotPrepaid[OrderType.CAMP_B]) ||
            (!data.is_canceled_order && !isDue(data.end_date) && !isNotPrepaid[OrderType.CAMP_B]) ||
            (isDue(data.end_date) && isCanceledOrder[OrderType.CAMP_B] && !isNotPrepaid[OrderType.CAMP_B]) ||
            (data.is_canceled_order && isCanceledOrder[OrderType.CAMP_B] && !isNotPrepaid[OrderType.CAMP_B])">
            <div class="card-header bg-light">
              <div class="card-header-col">
                <span class="card-index fs-3 fw-bold">{{i + 1}} </span>
                <span class="card-name fs-3 fw-bold">
                  <span *ngIf="isDue(data.end_date)">(已過期)</span>{{data.name}}<span class="card-status status--nightGoing" *ngIf="data.is_night_going">有夜衝</span>
                  <br>
                  <span class="badge rounded-pill text-bg-danger" *ngIf="!data.is_prepaid">未付訂</span>
                  <span class="badge rounded-pill text-bg-success" *ngIf="data.is_prepaid">已付訂</span>
                  <span class="badge rounded-pill text-bg-secondary" *ngIf="!data.is_prepaid && notPaidPreFee(data.created_time)">逾期未付訂金</span>
                </span>
              </div>
              <div class="card-header-col">
                <div class="check-area area--danger"
                  [class.is-disabled]="data.is_canceled_order"
                  (click)="updateOrder(data, 'cancel')">
                  <div class="checkbox" [class.is-disabled]="data.is_canceled_order" [class.is-checked]="data.is_canceled_order">
                    <fa-icon *ngIf="data.is_canceled_order" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                  取消訂單
                </div>
              </div>

                  <!-- 過夜：{{data.nights}} 晚<br> -->

            </div>
            <div class="card-body">
              <h4 class="card-title">
                <!-- <div class="card-name fs-3 fw-bold">{{data.name}}</div> -->
              </h4>
              <div class="card-text">
                <div class="list-flex">
                  <div class="list-flex-box">
                    <!-- 口 夜衝<br> -->
                    {{data.start_date}}({{getCurrentDay(data.start_date)}})<br>
                    {{data.end_date}}({{getCurrentDay(data.end_date)}})<br>
                    <!-- 過夜：1 晚<br> -->
                    <!-- 帳數：3 帳 -->
                  </div>
                  <div class="list-flex-box">
                    <!-- 口 已付訂<br> -->
                    訂金：{{data.prepaid_fee}}<br>
                    小計：{{data.total_fee}}
                  </div>
                  <div class="list-flex-box">
                    <!-- 口 取消訂單<br> -->
                    <!-- 營位： camp_a<br> -->
                    帳數： {{data.tents}} 帳<br>
                    電話： {{data.phone}}
                    <!-- 訂單編號：{{data.order_id}}<br>
                    {{data.email}} -->
                  </div>
                  <!-- <div class="list-flex-box">

                  </div> -->
                </div>
              </div>
              <div class="check-area area--unChecked"
                [class.is-disabled]="data.is_canceled_order || isDue(data.start_date)"
                [class.is-success]="data.is_prepaid"
                (click)="updateOrder(data, 'prepaid')">
                <div class="checkbox" [class.is-checked]="data.is_prepaid" [class.is-disabled]="data.is_canceled_order">
                  <fa-icon *ngIf="data.is_prepaid" class="form-checkmark" [icon]="faCheck"></fa-icon>
                </div>
                已付訂
              </div>
              <div class="check-area area--unChecked"
              [class.is-success]="data.is_night_going"
              (click)="updateOrder(data, 'nightgoing')" [class.is-disabled]="!isNightRush(data.area, data.start_date, data.tents, data.is_night_going) || data.is_canceled_order || isDue(data.start_date)">
                <ng-container *ngIf="isNightRush(data.area, data.start_date, data.tents, data.is_night_going); else noNightRushing">
                  <div
                    class="checkbox"
                    [class.is-success]="data.is_night_going"
                    [class.is-checked]="data.is_night_going"
                    [class.is-disabled]="data.is_canceled_order">
                    <fa-icon *ngIf="data.is_night_going" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                  可夜衝
                </ng-container>
                <ng-template #noNightRushing>
                  不可夜衝
                </ng-template>
              </div>
              <button class="btn btn-primary btn-check-area" (click)="openDetail(data)">訂單詳情</button>
            </div>
          </div>
        </ng-container>
        <h4>--- 落羽松L區 訂單已滑到底了 ---</h4>
      </div>
    </section>
    <!-- List 露營區B End -->
    <br>
    <br>
    <br>
    <!-- List 山中宿屋 Start -->
    <section class="card-section section--e" *ngIf="initCanceledData[OrderType.INN]">
      <h2 class="card-area-name">山中宿屋 H區
        <button class="btn-card-toggle" (click)="toggleNotPrepaid(OrderType.INN)">
          <div class="checkbox checkbox--tool" [class.is-checked]="isNotPrepaid[OrderType.INN]">
            <fa-icon *ngIf="isNotPrepaid[OrderType.INN]" class="form-checkmark" [icon]="faCheck"></fa-icon>
          </div>未付訂
        </button>
        <button class="btn-card-toggle" (click)="filterCanceledData(OrderType.INN)">
          <div class="checkbox checkbox--tool" [class.is-checked]="isCanceledOrder[OrderType.INN]">
            <fa-icon *ngIf="isCanceledOrder[OrderType.INN]" class="form-checkmark" [icon]="faCheck"></fa-icon>
          </div>已取消＆過期訂單
        </button>
      </h2>
      <div class="card-scroll">
        <ng-container *ngFor="let data of initCanceledData[OrderType.INN]; let i = index;">
          <div class="card" *ngIf="
          (!data.is_prepaid && isNotPrepaid[OrderType.INN]) ||
            (!data.is_canceled_order && !isDue(data.end_date) && !isNotPrepaid[OrderType.INN]) ||
            (isDue(data.end_date) && isCanceledOrder[OrderType.INN] && !isNotPrepaid[OrderType.INN]) ||
            (data.is_canceled_order && isCanceledOrder[OrderType.INN] && !isNotPrepaid[OrderType.INN])">
            <div class="card-header bg-light">
              <div class="card-header-col">
                <span class="card-index fs-3 fw-bold">{{i + 1}} </span>
                <span class="card-name fs-3 fw-bold">
                  <span *ngIf="isDue(data.end_date)">(已過期)</span>{{data.name}}<span class="card-status status--nightGoing" *ngIf="data.is_night_going">有夜衝</span>
                  <br>
                  <span class="badge rounded-pill text-bg-danger" *ngIf="!data.is_prepaid">未付訂</span>
                  <span class="badge rounded-pill text-bg-success" *ngIf="data.is_prepaid">已付訂</span>
                  <span class="badge rounded-pill text-bg-secondary" *ngIf="!data.is_prepaid && notPaidPreFee(data.created_time)">逾期未付訂金</span>
                </span>
              </div>
              <div class="card-header-col">
                <div class="check-area area--danger"
                  [class.is-disabled]="data.is_canceled_order"
                  (click)="updateOrder(data, 'cancel')">
                  <div class="checkbox" [class.is-disabled]="data.is_canceled_order" [class.is-checked]="data.is_canceled_order">
                    <fa-icon *ngIf="data.is_canceled_order" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                  取消訂單
                </div>
              </div>

                  <!-- 過夜：{{data.nights}} 晚<br> -->

            </div>
            <div class="card-body">
              <h4 class="card-title">
                <!-- <div class="card-name fs-3 fw-bold">{{data.name}}</div> -->
              </h4>
              <div class="card-text">
                <div class="list-flex">
                  <div class="list-flex-box">
                    <!-- 口 夜衝<br> -->
                    {{data.start_date}}({{getCurrentDay(data.start_date)}})<br>
                    {{data.end_date}}({{getCurrentDay(data.end_date)}})<br>
                    <!-- 過夜：1 晚<br> -->
                    <!-- 帳數：3 帳 -->
                  </div>
                  <div class="list-flex-box">
                    <!-- 口 已付訂<br> -->
                    訂金：{{data.prepaid_fee}}<br>
                    小計：{{data.total_fee}}
                  </div>
                  <div class="list-flex-box">
                    <!-- 口 取消訂單<br> -->
                    <!-- 營位： camp_a<br> -->
                    <span *ngIf="data.add_bed">加床： {{data.add_bed}} 張<br></span>
                    電話： {{data.phone}}
                    <!-- 訂單編號：{{data.order_id}}<br>
                    {{data.email}} -->
                  </div>
                  <!-- <div class="list-flex-box">

                  </div> -->
                </div>
              </div>
              <div class="check-area area--unChecked"
                [class.is-success]="data.is_prepaid"
                [class.is-disabled]="data.is_canceled_order || isDue(data.start_date)"
                (click)="updateOrder(data, 'prepaid')">
                <div class="checkbox" [class.is-checked]="data.is_prepaid" [class.is-disabled]="data.is_canceled_order || isDue(data.start_date)">
                  <fa-icon *ngIf="data.is_prepaid" class="form-checkmark" [icon]="faCheck"></fa-icon>
                </div>
                已付訂
              </div>
              <div class="check-area area--unChecked"
                [class.is-success]="data.is_night_going"
                (click)="updateOrder(data, 'nightgoing')"
                [class.is-disabled]="!isNightRush(data.area, data.start_date, data.tents, data.is_night_going) ||
                data.is_canceled_order ||
                isDue(data.start_date)">
                <ng-container *ngIf="isNightRush(data.area, data.start_date, data.tents, data.is_night_going); else noNightRushing">
                  <div
                    class="checkbox"
                    [class.is-success]="data.is_night_going"
                    [class.is-checked]="data.is_night_going"
                    [class.is-disabled]="data.is_canceled_order">
                    <fa-icon *ngIf="data.is_night_going" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                  可夜衝
                </ng-container>
                <ng-template #noNightRushing>
                  不可夜衝
                </ng-template>
              </div>
              <button class="btn btn-primary btn-check-area" (click)="openDetail(data)">訂單詳情</button>
            </div>
          </div>
        </ng-container>
        <h4>--- 山中宿屋 訂單已滑到底了 ---</h4>
      </div>
    </section>
    <!-- List 山中宿屋 End -->
    <br>
    <br>
    <br>
    <br>


  </div>
</main>
