@import 'mixin'

.map-wrap
  margin: 40px 0 0 0

.table
  border-collapse: separate
  border-spacing: 0px 10px

.table-container
  width: 100%
  min-width: 720px
  overflow-x: auto
  position: relative
  max-height: 450px
  min-height: 450px

.table-tools
  display: flex
  align-items: center
.table-toolItem
  margin-left: 20px
  display: flex
  align-items: center

table
  font-family: arial, sans-serif
  border-collapse: collapse
  // font-family: "Fraunces", serif
  // font-size: 125%
  white-space: nowrap
  margin: 0
  border: none
  border-collapse: separate
  border-spacing: 0
  // table-layout: fixed
  // border: 1px solid black

table thead
  &.camp-a
    background-color: #795548
  &.camp-b
    background: #948678
  &.camp-c
    background: #33B679
  &.camp-d
    background-color: #4285F4
  &.inn
    background-color: #4285F4

table thead th
  padding: 3px
  position: sticky
  top: 0
  z-index: 1
  width: 25vw
  padding: .75rem .25rem
  border-top: 1px solid #dee2e6
  border-bottom: 1px solid #dee2e6
  text-align: center


table td
  // background: #fff
  padding: 4px 5px
  vertical-align: top
  padding: 8px 1rem

table tbody th
  font-weight: 100
  // text-align: left
  position: relative
  // text-align: left
  padding: 8px 1rem
table thead th:first-child,
table thead th:nth-child(2)
  position: sticky
  left: 0
  z-index: 2
table thead.camp-a th:first-child,
table thead.camp-a th:nth-child(2)
  background: #795548
table thead.camp-b th:first-child,
table thead.camp-b th:nth-child(2)
  background: #948678
table thead.camp-c th:first-child,
table thead.camp-c th:nth-child(2)
  background: #33B679
table thead.camp-d th:first-child,
table thead.camp-d th:nth-child(2)
  background: #33B679
table thead.inn th:first-child,
table thead.inn th:nth-child(2)
  background: #4285F4
table tbody th
  position: sticky
  left: 0
  z-index: 1

hr
  margin: 40px auto

.tr-head
  color: #fff
.tr-head.camp-a th
  background: #795548
.tr-head.camp-b th
  background: #948678
.tr-head.camp-c th
  background: #33B679
.tr-head.camp-d th
  background: #33B679
.tr-head.inn th
  background: #4285F4

.tr-body
  background-color: #fff
  &:nth-child(odd),
  &:nth-child(odd) th:first-child,
  &:nth-child(odd) th:nth-child(2)
    background-color: #eee
  &:nth-child(even),
  &:nth-child(even) th:first-child,
  &:nth-child(even) th:nth-child(2)
    background-color: #fff
  th
    border: 1px solid transparent

.checkbox
  width: 16px
  height: 16px
  border-radius: 4px
  border: 1px solid #33363c
  color: #fff
  text-align: center
  display: inline-flex
  justify-content: center
  align-items: center
  vertical-align: middle
  &.is-disabled
    background-color: transparent
    border-color: gray
    pointer-events: none
  &.is-checked
    background-color: #33363c
    border-color: #33363c
  &.checkbox--tool
    margin-right: 6px
  .area--danger &
    border: 1px solid #dc3545
    &.is-checked
      background-color: #dc3545
      border-color: #dc3545
    &.is-disabled
      background-color: gray
      border-color: gray
  .area--unChecked &
    border: 1px solid #33B679
    &.is-checked
      background-color: #33B679
      border-color: #33B679
    &.is-disabled
      background-color: transparent
      border-color: gray
      pointer-events: none

.btn-check-area
  font-size: 1.2rem

.check-area
  padding: 4px 10px
  display: inline-block
  margin-right: 15px
  border: 1px solid #33363c
  border-radius: 6px
  color: #33363c
  font-size: 1.2rem
  &.area--unChecked
    border: 1px solid #33B679
    color: #33B679
    &.is-success
      color: white
      border: 1px solid #33B679
      background-color: #33B679
    &.is-disabled
      border: 1px solid gray
      color: gray
      background-color: transparent
      pointer-events: none
      .checkbox
        border: 1px solid gray
        &.is-checked
          background-color: gray

  &.area--danger
    border: 1px solid #dc3545
    color: #dc3545
    &.is-success
      color: white
      border: 1px solid #dc3545
      background-color: #dc3545
    &.is-disabled
      border: 1px solid gray
      background-color: transparent
      color: gray
      pointer-events: none

.td
  &.td--center
    text-align: center
  &.td--right
    text-align: right
  &.td--left
    text-align: left
// th
//   text-align: left
//   padding: 8px 1rem
//   background-color: #eff6ff

// td
//   text-align: left
//   padding: 8px 1rem
//   background-color: #fff

.badge
  display: inline-block
  padding: 0.25em 0.4em
  font-size: 13px
  font-weight: 700
  line-height: 1
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  border-radius: 0.25rem
  &.is-warning
    color: #212529
    background-color: #ffc107
  &.is-danger
    color: #fff
    background-color: #dc3545

.info
  color: #dc3545
  font-weight: bold

.btn-editMemo
  margin-right: 10px

.th-startDate
  cursor: pointer

.arrow
  width: 20px
  height: 20px
  vertical-align: middle
  display: inline-flex
  align-items: center
  justify-content: center
  margin-left: 6px
  &::before
    content: ''
    width: 0
    height: 0
    display: inline-block
  &.arrow--up
    &::before
      border-left: 6px solid transparent
      border-right: 6px solid transparent
      border-bottom: 6px solid #fff
  &.arrow--down
    &::before
      border-left: 6px solid transparent
      border-right: 6px solid transparent
      border-top: 6px solid #fff

// custom list style
.card-section
  --bs-card-border-width: 0.0625rem
  --bs-card-border-color: rgba(207, 204, 213, 0.7)
  --bs-card-border-radius: 0.75rem
  --bs-card-bg: #fff
  --bs-card-bg: #fff
  border-radius: 0.6875rem 0.6875rem 0 0
  box-shadow: 0 0.375rem 0.75rem rgb(140 152 164 / 8%)
  position: relative
  display: -ms-flexbox
  display: flex
  -ms-flex-direction: column
  flex-direction: column
  min-width: 0
  word-wrap: break-word
  background-color: var(--bs-card-bg)
  background-clip: border-box
  border: var(--bs-card-border-width) solid var(--bs-card-border-color)
  border-radius: var(--bs-card-border-radius)
  padding: 15px
  &.section--a
    background-color: #e81f1f30
  &.section--b
    background-color: #e8921554
  // &.section--c
  // &.section--d
  &.section--e
    background-color: #2679e03b
.card
  min-width: 600px
  white-space: nowrap
.card-header
  display: flex
.card-header-col:last-child
  margin-left: auto
  display: flex
  align-items: center
.card-index
  width: 30px
.card-area-name
  margin-bottom: 20px
.card-scroll
  max-height: 400px
  overflow: auto
.card
  margin-bottom: 15px
.btn-card-toggle
  font-size: 16px
  margin-left: 20px

.list-box-wrap
  width: 100%
.list-header
  width: 100%
  // padding-bottom: 10px
  // border-bottom: 1px solid rgba(0, 0, 0, 0.125)
.card-name
  padding: 0 0 6px 0
  // border-top: 1px solid rgba(0, 0, 0, 0.125)
  // border-bottom: 1px solid rgba(0, 0, 0, 0.125)
.card-text
  margin-bottom: 10px
  font-size: 1.3rem
.list-flex
  display: flex
  flex-flow: row nowrap
  font-weight: bold
  line-height: 32px
  // justify-content: center
.list-flex-box
  // border-right: 1px solid rgba(0, 0, 0, 0.125)
  margin-right: 15px
  +respond-to('tablet')
    margin-right: 30px
  &:last-child
    margin-right: 0
    // border-right: none
// override custom bootstrap
.list-group-item
  margin-bottom: 10px

.badge
  margin-right: 6px
.card-body
  padding: 10px 0 10px 15px

.card-status
  display: inline-block
  border-radius: 4px
  padding: 3px 5px
  font-size: 13px
  vertical-align: top
  margin-left: 3px
  &.status--nightGoing
    background-color: rgb(25,135,84)
    color: #fff
