<app-nav-bar></app-nav-bar>

<main class="main">
  <h3>休假管理</h3>
  <div class="map-wrap">
    <div class="date-picker">
      休假區間：
      <div class="date-picker-range">
        <input type="date" class="start-date">~<input type="date" class="end-date">
        <button class="btn btn-success btn-send-holiday" (click)="send(); datePicker.showValueAndHandleMonth(startHolidayTS, 0)">送出</button>
      </div>
    </div>

    <!-- Error message -->
    <div class="alert alert-danger" *ngIf="message['beforeToday']">
      {{message['beforeToday']}}
    </div>
    <div class="alert alert-danger" *ngIf="message['biggerThanStart']">
      {{message['biggerThanStart']}}
    </div>
    <div class="alert alert-danger" *ngIf="message['empty']">
      {{message['empty']}}
    </div>
    <div class="alert alert-danger" *ngIf="message['duplicate']">
      {{message['duplicate']}}
    </div>
    <div class="alert alert-danger" *ngIf="message['over10days']">
      {{message['over10days']}}
    </div>
    <div class="alert alert-danger" *ngIf="message['intersaction_dates']">
      {{message['intersaction_dates']}}
    </div>
    <div class="alert alert-danger" *ngIf="message['over_enabled_month']">
      {{message['over_enabled_month']}}
    </div>

    <!-- <div *ngFor="let holiday of holidays">
      <span><span (click)="deleteDate(holiday.holiday_ts)">X</span> {{holiday.alias}}</span>
    </div> -->
  </div>
  <app-date-picker
      #datePicker
      [value]="dateStart"
      (dateChanged)="changeStartDate($event)"
      (checkIsHoliday)="deleteDate($event)"
      (onHandleDisplayMonth)="handleDisplayMonth($event)"
      [minDate]="dateMin"
      [maxDate]="dateMax"
      [holidays]="holidays"
    ></app-date-picker>

  <div>
    <br>
    <h3>目前休假日：</h3>
    <span *ngFor="let holiday of holidays">
      {{holiday.alias}}({{getCurrentDay(holiday.holiday_ts)}}),
    </span>
  </div>
</main>
