@import 'mixin'
@import 'variables'

.map-wrap
  margin: 15px 0
.date-picker
  font-size: 1.4rem
.date-picker-range
  white-space: nowrap
  +respond-to('mobile-lg')
    display: inline-block
.btn-success
  font-size: 1.4rem
  margin-left: 10px

.start-date,
.end-date
  width: 125px
