<main class="main">
  <nav class="nav">
    <a class="btn btn-primary nav-btn" href="" routerLink="/" routerLinkActive="active">訂單管理</a>
    <a class="btn btn-primary nav-btn" href="" routerLink="/holiday" routerLinkActive="active">休假管理</a>
    <a class="btn btn-primary nav-btn" href="" routerLink="/booking" routerLinkActive="active">登記宿屋</a>
  </nav>
</main>
