
.main
  max-width: 1280px
  margin: 0 auto
  padding: 0 30px

.map-wrap
  margin-bottom: 40px

.table
  border-collapse: separate
  border-spacing: 0px 10px

.table-container
  width: 100%
  min-width: 720px
  overflow-x: auto
  position: relative
  max-height: 450px
  min-height: 450px

.table-tools
  display: flex
  align-items: center
.table-toolItem
  margin-left: 20px
  display: flex
  align-items: center

table
  font-family: arial, sans-serif
  border-collapse: collapse
  // font-family: "Fraunces", serif
  // font-size: 125%
  white-space: nowrap
  margin: 0
  border: none
  border-collapse: separate
  border-spacing: 0
  table-layout: fixed
  // border: 1px solid black

table thead
  &.camp-inn
    background-color: #795548
  &.small-camp-inn
    background: #948678
  &.camp
    background: #33B679
  &.inn
    background-color: #4285F4

table thead th
  padding: 3px
  position: sticky
  top: 0
  z-index: 1
  width: 25vw
  padding: .75rem .25rem
  border-top: 1px solid #dee2e6
  border-bottom: 1px solid #dee2e6


table td
  // background: #fff
  padding: 4px 5px
  vertical-align: top
  padding: 8px 1rem

table tbody th
  font-weight: 100
  // text-align: left
  position: relative
  // text-align: left
  padding: 8px 1rem
table thead th:first-child,
table thead th:nth-child(2)
  position: sticky
  left: 0
  z-index: 2
table thead.camp-inn th:first-child,
table thead.camp-inn th:nth-child(2)
  background: #795548
table thead.small-camp-inn th:first-child,
table thead.small-camp-inn th:nth-child(2)
  background: #948678
table thead.camp th:first-child,
table thead.camp th:nth-child(2)
  background: #33B679
table thead.inn th:first-child,
table thead.inn th:nth-child(2)
  background: #4285F4
table tbody th
  position: sticky
  left: 0
  z-index: 1

hr
  margin: 40px auto

.tr-head
  color: #fff
.tr-head.camp-inn th
  background: #795548
.tr-head.small-camp-inn th
  background: #948678
.tr-head.camp th
  background: #33B679
.tr-head.inn th
  background: #4285F4

.tr-body
  background-color: #fff
  &:nth-child(odd),
  &:nth-child(odd) th:first-child,
  &:nth-child(odd) th:nth-child(2)
    background-color: #eee
  &:nth-child(even),
  &:nth-child(even) th:first-child,
  &:nth-child(even) th:nth-child(2)
    background-color: #fff
  th
    border: 1px solid transparent

.checkbox
  width: 16px
  height: 16px
  border-radius: 4px
  border: 1px solid #33363c
  color: #fff
  text-align: center
  display: inline-flex
  justify-content: center
  align-items: center
  vertical-align: middle
  &.is-checked
    background-color: green
    border-color: green
  &.checkbox--tool
    margin-right: 6px

.check-area
  padding: 0 0 10px 0

.td
  &.td--center
    text-align: center
  &.td--right
    text-align: right
  &.td--left
    text-align: left


// th
//   text-align: left
//   padding: 8px 1rem
//   background-color: #eff6ff

// td
//   text-align: left
//   padding: 8px 1rem
//   background-color: #fff

.badge
  display: inline-block
  padding: 0.25em 0.4em
  font-size: 75%
  font-weight: 700
  line-height: 1
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  border-radius: 0.25rem
  &.is-warning
    color: #212529
    background-color: #ffc107
  &.is-danger
    color: #fff
    background-color: #dc3545

.info
  color: #dc3545
  font-weight: bold

.btn-editMemo
  margin-right: 10px

.th-startDate
  cursor: pointer

.arrow
  width: 20px
  height: 20px
  vertical-align: middle
  display: inline-flex
  align-items: center
  justify-content: center
  margin-left: 6px
  &::before
    content: ''
    width: 0
    height: 0
    display: inline-block
  &.arrow--up
    &::before
      border-left: 6px solid transparent
      border-right: 6px solid transparent
      border-bottom: 6px solid #fff
  &.arrow--down
    &::before
      border-left: 6px solid transparent
      border-right: 6px solid transparent
      border-top: 6px solid #fff
