
<main class="main">
  <div class="map-wrap">
    <h1>行事曆</h1>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTaipei&title=%E5%B1%B1%E7%9A%84%E6%8A%B1%E6%8A%B1-%E9%A0%90%E7%B4%84%E8%A1%8C%E4%BA%8B%E6%9B%86&showNav=1&showPrint=0&showDate=1&showTabs=0&showCalendars=0&src=ZTU3bTM0aDkyZGg3Z2o3cTAyMGk5cHVuYWtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=dGRjMmdhYWdwZnZlamNvc2xwMDdlbWFyY3NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=bWJ2dDBhMmF1N3RsOW1ya251Y21xdGdlOW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=N3YwbGFvaHRwc2hpdW9xbzhlbWFpY3ZxbWtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23795548&color=%230a50c3&color=%23948678&color=%2333B679" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
  </div>

  <!-- New 大包場 -->
  <div class="table-wrap">
    <div class="table-tools">
      <h2>大包場訂單</h2>
      <div class="table-toolItem" (click)="switchStatus[OrderType.CAMP_INN].is_cancel_order = !switchStatus[OrderType.CAMP_INN].is_cancel_order">
        <div class="checkbox checkbox--tool" [class.is-checked]="switchStatus[OrderType.CAMP_INN].is_cancel_order">
          <fa-icon *ngIf="switchStatus[OrderType.CAMP_INN].is_cancel_order" class="form-checkmark" [icon]="faCheck"></fa-icon>
        </div>顯示已取消＆過期訂單
      </div>
    </div>
    <div class="table-container">
      <table class="table" *ngIf="!!orderList[OrderType.CAMP_INN]">
        <thead class="camp-inn">
          <tr class="tr-head camp-inn">
            <th style="min-width:150px">姓名</th>
            <th style="left: 184px" class="th-startDate" (click)="sortByStartDate(OrderType.CAMP_INN, orderList[OrderType.CAMP_INN], CampInnOrder.START_DATE)">入住日期
              <span class="arrow"
                [class.arrow--up]="switchStatus[OrderType.CAMP_INN].is_sort_by_startDate"
                [class.arrow--down]="!switchStatus[OrderType.CAMP_INN].is_sort_by_startDate">
              </span>
            </th>
            <th>款項</th>
            <th>操作</th>
            <th>入住資訊</th>
            <th>聯絡方式</th>
            <th>是否取消訂單</th>
            <th>訂單備註</th>
            <th (click)="sortByCreatedDate(OrderType.CAMP_INN, orderList[OrderType.CAMP_INN], CampInnOrder.CREATED_TIME)">訂單建立時間
              <span class="arrow"
                [class.arrow--up]="switchStatus[OrderType.CAMP_INN].is_sort_by_createdDate"
                [class.arrow--down]="!switchStatus[OrderType.CAMP_INN].is_sort_by_createdDate">
              </span></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of orderList[OrderType.CAMP_INN]">
            <tr class="tr-body" *ngIf="switchStatus[OrderType.CAMP_INN].is_cancel_order || !data[CampInnOrder.IS_CANCEL_ORDER] && !isDue(data[CampInnOrder.END_DATE])">
              <th class="td td--center" style="min-width:150px">
                {{data[CampInnOrder.NAME]}}<br>
                <div class="badge is-warning" *ngIf="data[CampInnOrder.IS_PAID_PRE_FEE]">已付訂</div>
                <div class="badge is-danger" *ngIf="!data[CampInnOrder.IS_PAID_PRE_FEE]">未付訂</div>
                <span *ngIf="data[CampInnOrder.IS_CANCEL_ORDER]">(已取消)</span>
                <div class="info" *ngIf="!data[CampInnOrder.IS_PAID_PRE_FEE] && notPaidPreFee(data[CampInnOrder.CREATED_TIME])">(逾期未付訂金)</div>
              </th>
              <th class="td td--left" style="left: 184px">
                入住：{{formatDate(data[CampInnOrder.START_DATE])}}<br>
                離開：{{formatDate(data[CampInnOrder.END_DATE])}}<br>
                過夜：{{data[CampInnOrder.NIGHTS]}} 晚<br>
                <div class="check-area" (click)="toggleCampInnCheckbox(
                  CampInnOrder.IS_NIGHT_GOING,
                  data[CampInnOrder.NAME],
                  data[CampInnOrder.ORDER_ID],
                  data[CampInnOrder.IS_NIGHT_GOING],
                  getColIndex('V'))">夜衝
                  <div
                    class="checkbox"
                    [class.is-checked]="data[CampInnOrder.IS_NIGHT_GOING]">
                    <fa-icon *ngIf="data[CampInnOrder.IS_NIGHT_GOING]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                </div>
              </th>
              <!-- 款項 -->
              <td class="td td--right">
                訂金：{{data[CampInnOrder.PREPAID_FEE]}}<br>
                尾款：{{data[CampInnOrder.REST_FEE]}}<br>
                小計：{{data[CampInnOrder.TOTAL_FEE]}}<br>
              </td>
              <!-- 操作 -->
              <td class="td td--right">
               <div class="check-area"
                  (click)="toggleCampInnCheckbox(
                  CampInnOrder.IS_PAID_PRE_FEE,
                  data[CampInnOrder.NAME],
                  data[CampInnOrder.ORDER_ID],
                  data[CampInnOrder.IS_PAID_PRE_FEE],
                  getColIndex('E'))">
                  已付訂 <div class="checkbox" [class.is-checked]="data[CampInnOrder.IS_PAID_PRE_FEE]">
                    <fa-icon *ngIf="data[CampInnOrder.IS_PAID_PRE_FEE]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                </div>
                <div class="check-area"
                (click)="toggleCampInnCheckbox(
                  CampInnOrder.IS_SENT_CONFIRM_LETTER,
                  data[CampInnOrder.NAME],
                  data[CampInnOrder.ORDER_ID],
                  data[CampInnOrder.IS_SENT_CONFIRM_LETTER],
                  getColIndex('U'))">
                  寄出確認信 <div class="checkbox" [class.is-checked]="data[CampInnOrder.IS_SENT_CONFIRM_LETTER]">
                    <fa-icon *ngIf="data[CampInnOrder.IS_SENT_CONFIRM_LETTER]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                </div>
                <div class="check-area"
                  (click)="toggleCampInnCheckbox(
                  CampInnOrder.IS_PAID_REST_FEE,
                  data[CampInnOrder.NAME],
                  data[CampInnOrder.ORDER_ID],
                  data[CampInnOrder.IS_PAID_REST_FEE],
                  getColIndex('O'))">
                  結清尾款 <div class="checkbox" [class.is-checked]="data[CampInnOrder.IS_PAID_REST_FEE]">
                    <fa-icon *ngIf="data[CampInnOrder.IS_PAID_REST_FEE]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                 </div>
               </div>
              </td>
              <!-- 入住資訊 -->
              <td class="td">
                加單人床：{{data[CampInnOrder.ADD_BED]}} 張<br>
              </td>
              <!-- 聯絡資訊 -->
              <td class="td">
                訂單編號：{{data[CampInnOrder.ORDER_ID]}}<br>
                電話：{{data[CampInnOrder.PHONE]}}<br>
                {{data[CampInnOrder.EMAIL]}}
              </td>
              <!-- 是否取消訂單 -->
              <td class="td td--center">
                <div class="checkbox" [class.is-checked]="data[CampInnOrder.IS_CANCEL_ORDER]" (click)="toggleCampInnCheckbox(
                  CampInnOrder.IS_CANCEL_ORDER,
                  data[CampInnOrder.NAME],
                  data[CampInnOrder.ORDER_ID],
                  data[CampInnOrder.IS_CANCEL_ORDER],
                  getColIndex('R'))">
                  <fa-icon *ngIf="data[CampInnOrder.IS_CANCEL_ORDER]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                </div>
              </td>
              <td class="td">
                <button class="btn-editMemo" (click)="updateMemo(OrderType.CAMP_INN, data[CampInnOrder.ORDER_ID], data[CampInnOrder.ORDER_MEMO], getColIndex('W'))">
                  <fa-icon class="fa-pen" [icon]="faPen"></fa-icon>
                </button>
                <span>{{data[CampInnOrder.ORDER_MEMO]}}</span>
              </td>
              <td class="td">
                {{formatDateTime(data[CampInnOrder.CREATED_TIME])}}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <app-memo
        *ngIf="isEditMemo"
        [type]="typeMemo"
        [value]="payloadMemo"
        (onclose)="isEditMemo = $event"
        (onupdate)="onUpdateList($event)">
      </app-memo>
    </div>
  </div>

  <hr>

  <!-- New 小包區 -->
  <div class="table-wrap">
    <div class="table-tools">
      <h2>小包區訂單</h2>
      <div class="table-toolItem" (click)="switchStatus[OrderType.SMALL_CAMP_INN].is_cancel_order = !switchStatus[OrderType.SMALL_CAMP_INN].is_cancel_order">
        <div class="checkbox checkbox--tool" [class.is-checked]="switchStatus[OrderType.SMALL_CAMP_INN].is_cancel_order">
          <fa-icon *ngIf="switchStatus[OrderType.SMALL_CAMP_INN].is_cancel_order" class="form-checkmark" [icon]="faCheck"></fa-icon>
        </div>顯示已取消＆過期訂單
      </div>
    </div>
    <div class="table-container">
      <table class="table" *ngIf="!!orderList[OrderType.SMALL_CAMP_INN]">
        <thead class="small-camp-inn">
          <tr class="tr-head small-camp-inn">
            <th style="min-width:150px">姓名</th>
            <th style="left: 184px" class="th-startDate" (click)="sortByStartDate(OrderType.SMALL_CAMP_INN, orderList[OrderType.SMALL_CAMP_INN], SmallCampInnOrder.START_DATE)">入住日期
              <span class="arrow"
                [class.arrow--up]="switchStatus[OrderType.SMALL_CAMP_INN].is_sort_by_startDate"
                [class.arrow--down]="!switchStatus[OrderType.SMALL_CAMP_INN].is_sort_by_startDate">
              </span>
            </th>
            <th>款項</th>
            <th>操作</th>
            <th>入住資訊</th>
            <th>聯絡方式</th>
            <th>是否取消訂單</th>
            <th>訂單備註</th>
            <th (click)="sortByCreatedDate(OrderType.SMALL_CAMP_INN, orderList[OrderType.SMALL_CAMP_INN], SmallCampInnOrder.CREATED_TIME)">訂單建立時間
              <span class="arrow"
                [class.arrow--up]="switchStatus[OrderType.SMALL_CAMP_INN].is_sort_by_createdDate"
                [class.arrow--down]="!switchStatus[OrderType.SMALL_CAMP_INN].is_sort_by_createdDate">
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of orderList[OrderType.SMALL_CAMP_INN]">
            <tr class="tr-body" *ngIf="switchStatus[OrderType.SMALL_CAMP_INN].is_cancel_order || !data[SmallCampInnOrder.IS_CANCEL_ORDER] && !isDue(data[SmallCampInnOrder.END_DATE])">
              <th class="td td--center" style="min-width:150px">
                {{data[SmallCampInnOrder.NAME]}}<br>
                <div class="badge is-warning" *ngIf="data[SmallCampInnOrder.IS_PAID_PRE_FEE]">已付訂</div>
                <div class="badge is-danger" *ngIf="!data[SmallCampInnOrder.IS_PAID_PRE_FEE]">未付訂</div>
                <span *ngIf="data[SmallCampInnOrder.IS_CANCEL_ORDER]">(已取消)</span>
                <div class="info" *ngIf="!data[SmallCampInnOrder.IS_PAID_PRE_FEE] && notPaidPreFee(data[SmallCampInnOrder.CREATED_TIME])">(逾期未付訂金)</div>
              </th>
              <th class="td td--left" style="left: 184px">
                入住：{{formatDate(data[SmallCampInnOrder.START_DATE])}}<br>
                離開：{{formatDate(data[SmallCampInnOrder.END_DATE])}}<br>
                過夜：{{data[SmallCampInnOrder.NIGHTS]}} 晚<br>
                <div class="check-area"
                  (click)="toggleSmallCampInnCheckbox(
                  SmallCampInnOrder.IS_NIGHT_GOING,
                  data[SmallCampInnOrder.NAME],
                  data[SmallCampInnOrder.ORDER_ID],
                  data[SmallCampInnOrder.IS_NIGHT_GOING],
                  getColIndex('V'))">夜衝
                  <div
                    class="checkbox"
                    [class.is-checked]="data[SmallCampInnOrder.IS_NIGHT_GOING]">
                    <fa-icon *ngIf="data[SmallCampInnOrder.IS_NIGHT_GOING]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                </div>
              </th>
              <!-- 款項 -->
              <td class="td td--right">
                訂金：{{data[SmallCampInnOrder.PREPAID_FEE]}}<br>
                尾款：{{data[SmallCampInnOrder.REST_FEE]}}<br>
                小計：{{data[SmallCampInnOrder.TOTAL_FEE]}}<br>
              </td>
              <!-- 操作 -->
              <td class="td td--right">
               <div class="check-area"
                  (click)="toggleSmallCampInnCheckbox(
                  SmallCampInnOrder.IS_PAID_PRE_FEE,
                  data[SmallCampInnOrder.NAME],
                  data[SmallCampInnOrder.ORDER_ID],
                  data[SmallCampInnOrder.IS_PAID_PRE_FEE],
                  getColIndex('E'))">
                  已付訂 <div class="checkbox" [class.is-checked]="data[SmallCampInnOrder.IS_PAID_PRE_FEE]">
                    <fa-icon *ngIf="data[SmallCampInnOrder.IS_PAID_PRE_FEE]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                </div>
                <div class="check-area"
                  (click)="toggleSmallCampInnCheckbox(
                  SmallCampInnOrder.IS_SENT_CONFIRM_LETTER,
                  data[SmallCampInnOrder.NAME],
                  data[SmallCampInnOrder.ORDER_ID],
                  data[SmallCampInnOrder.IS_SENT_CONFIRM_LETTER],
                  getColIndex('U'))">
                  寄出確認信 <div class="checkbox" [class.is-checked]="data[SmallCampInnOrder.IS_SENT_CONFIRM_LETTER]">
                    <fa-icon *ngIf="data[SmallCampInnOrder.IS_SENT_CONFIRM_LETTER]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                </div>
               <div class="check-area"
               (click)="toggleSmallCampInnCheckbox(
                SmallCampInnOrder.IS_PAID_REST_FEE,
                data[SmallCampInnOrder.NAME],
                data[SmallCampInnOrder.ORDER_ID],
                data[SmallCampInnOrder.IS_PAID_REST_FEE],
                getColIndex('P'))">
                結清尾款 <div class="checkbox" [class.is-checked]="data[SmallCampInnOrder.IS_PAID_REST_FEE]">
                   <fa-icon *ngIf="data[SmallCampInnOrder.IS_PAID_REST_FEE]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                 </div>
               </div>
              </td>
              <!-- 入住資訊 -->
              <td class="td">
                加單人床：{{data[SmallCampInnOrder.ADD_BED]}} 張<br>
              </td>
              <!-- 聯絡資訊 -->
              <td class="td">
                訂單編號：{{data[SmallCampInnOrder.ORDER_ID]}}<br>
                電話：{{data[SmallCampInnOrder.PHONE]}}<br>
                {{data[SmallCampInnOrder.EMAIL]}}
              </td>
              <!-- 是否取消訂單 -->
              <td class="td td--center">
                <div class="checkbox" [class.is-checked]="data[SmallCampInnOrder.IS_CANCEL_ORDER]" (click)="toggleSmallCampInnCheckbox(
                  SmallCampInnOrder.IS_CANCEL_ORDER,
                  data[SmallCampInnOrder.NAME],
                  data[SmallCampInnOrder.ORDER_ID],
                  data[SmallCampInnOrder.IS_CANCEL_ORDER],
                  getColIndex('R'))">
                  <fa-icon *ngIf="data[SmallCampInnOrder.IS_CANCEL_ORDER]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                </div>
                <!-- <input type="checkbox" [checked]="data[CampInnOrder.IS_PAID_PRE_FEE]"> -->
              </td>
              <td class="td">
                <button class="btn-editMemo" (click)="updateMemo(OrderType.SMALL_CAMP_INN, data[SmallCampInnOrder.ORDER_ID], data[SmallCampInnOrder.ORDER_MEMO], getColIndex('W'))">
                  <fa-icon class="fa-pen" [icon]="faPen"></fa-icon>
                </button>
                <span>{{data[SmallCampInnOrder.ORDER_MEMO]}}</span>
              </td>
              <td class="td">
                {{formatDateTime(data[SmallCampInnOrder.CREATED_TIME])}}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <app-memo
        *ngIf="isEditMemo"
        [type]="typeMemo"
        [value]="payloadMemo"
        (onclose)="isEditMemo = $event"
        (onupdate)="onUpdateList($event)">
      </app-memo>
    </div>
  </div>

  <hr>
  <!-- New 露營區 -->
  <div class="table-wrap">
    <div class="table-tools">
      <h2>露營區訂單</h2>
      <div class="table-toolItem" (click)="switchStatus[OrderType.CAMP].is_cancel_order = !switchStatus[OrderType.CAMP].is_cancel_order">
        <div class="checkbox checkbox--tool" [class.is-checked]="switchStatus[OrderType.CAMP].is_cancel_order">
          <fa-icon *ngIf="switchStatus[OrderType.CAMP].is_cancel_order" class="form-checkmark" [icon]="faCheck"></fa-icon>
        </div>顯示已取消＆過期訂單
      </div>
    </div>
    <div class="table-container">
      <table class="table" *ngIf="orderList[OrderType.CAMP]">
        <thead class="camp">
          <tr class="tr-head camp">
            <th style="min-width:150px">姓名</th>
            <th style="left: 184px" class="th-startDate" (click)="sortByStartDate(OrderType.CAMP, orderList[OrderType.CAMP], CampOrder.START_DATE)">入住日期
              <span class="arrow"
                [class.arrow--up]="switchStatus[OrderType.CAMP].is_sort_by_startDate"
                [class.arrow--down]="!switchStatus[OrderType.CAMP].is_sort_by_startDate">
              </span>
            </th>
            <th>款項</th>
            <th>操作</th>
            <th>入住資訊</th>
            <th>聯絡方式</th>
            <th>是否取消訂單</th>
            <th>訂單備註</th>
            <th (click)="sortByCreatedDate(OrderType.CAMP, orderList[OrderType.CAMP], CampOrder.CREATED_TIME)">訂單建立時間
              <span class="arrow"
                [class.arrow--up]="switchStatus[OrderType.CAMP].is_sort_by_createdDate"
                [class.arrow--down]="!switchStatus[OrderType.CAMP].is_sort_by_createdDate">
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of orderList[OrderType.CAMP]">
            <tr class="tr-body" *ngIf="switchStatus[OrderType.CAMP].is_cancel_order || !data[CampOrder.IS_CANCEL_ORDER] && !isDue(data[CampOrder.END_DATE])">
              <th class="td td--center" style="min-width:150px">
                {{data[CampOrder.NAME]}}<br>
                <div class="badge is-warning" *ngIf="data[CampOrder.IS_PAID_PRE_FEE]">已付訂</div>
                <div class="badge is-danger" *ngIf="!data[CampOrder.IS_PAID_PRE_FEE]">未付訂</div>
                <span *ngIf="data[CampOrder.IS_CANCEL_ORDER]">(已取消)</span>
                <div class="info" *ngIf="!data[CampOrder.IS_PAID_PRE_FEE] && notPaidPreFee(data[CampOrder.CREATED_TIME])">(逾期未付訂金)</div>
              </th>
              <th class="td td--left" style="left: 184px">
                入住：{{formatDate(data[CampOrder.START_DATE])}}<br>
                離開：{{formatDate(data[CampOrder.END_DATE])}}<br>
                過夜：{{data[CampOrder.NIGHTS]}} 晚<br>
                <div class="check-area"
                  (click)="toggleCampCheckbox(
                  CampOrder.IS_NIGHT_GOING,
                  data[CampOrder.NAME],
                  data[CampOrder.ORDER_ID],
                  data[CampOrder.IS_NIGHT_GOING],
                  getColIndex('W'))">夜衝
                  <div
                    class="checkbox"
                    [class.is-checked]="data[CampOrder.IS_NIGHT_GOING]">
                    <fa-icon *ngIf="data[CampOrder.IS_NIGHT_GOING]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                </div>
              </th>
              <!-- 款項 -->
              <td class="td td--right">
                訂金：{{data[CampOrder.PREPAID_FEE]}}<br>
                尾款：{{data[CampOrder.REST_FEE]}}<br>
                小計：{{data[CampOrder.TOTAL_FEE]}}<br>
              </td>
              <!-- 操作 -->
              <td class="td td--right">
               <div class="check-area"
                  (click)="toggleCampCheckbox(
                  CampOrder.IS_PAID_PRE_FEE,
                  data[CampOrder.NAME],
                  data[CampOrder.ORDER_ID],
                  data[CampOrder.IS_PAID_PRE_FEE],
                  getColIndex('F'))">
                  已付訂 <div class="checkbox" [class.is-checked]="data[CampOrder.IS_PAID_PRE_FEE]">
                    <fa-icon *ngIf="data[CampOrder.IS_PAID_PRE_FEE]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                </div>
                <div class="check-area"
                  (click)="toggleCampCheckbox(
                  CampOrder.IS_SENT_CONFIRM_LETTER,
                  data[CampOrder.NAME],
                  data[CampOrder.ORDER_ID],
                  data[CampOrder.IS_SENT_CONFIRM_LETTER],
                  getColIndex('V'))">
                  寄出確認信 <div class="checkbox" [class.is-checked]="data[CampOrder.IS_SENT_CONFIRM_LETTER]">
                    <fa-icon *ngIf="data[CampOrder.IS_SENT_CONFIRM_LETTER]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                </div>
               <div class="check-area"
                (click)="toggleCampCheckbox(
                CampOrder.IS_PAID_REST_FEE,
                data[CampOrder.NAME],
                data[CampOrder.ORDER_ID],
                data[CampOrder.IS_PAID_REST_FEE],
                getColIndex('P'))">
                 結清尾款 <div class="checkbox" [class.is-checked]="data[CampOrder.IS_PAID_REST_FEE]">
                  <fa-icon *ngIf="data[CampOrder.IS_PAID_REST_FEE]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
               </div>
              </td>
              <!-- 入住資訊 -->
              <td class="td">
                營位： {{data[CampOrder.TENT_AREA]}}<br>
                帳數： {{data[CampOrder.TENTS]}} 帳<br>
              </td>
              <!-- 聯絡資訊 -->
              <td class="td">
                訂單編號：{{data[CampOrder.ORDER_ID]}}<br>
                電話：{{data[CampOrder.PHONE]}}<br>
                {{data[CampOrder.EMAIL]}}
              </td>
              <!-- 是否取消訂單 -->
              <td class="td td--center">
                <div class="checkbox" [class.is-checked]="data[CampOrder.IS_CANCEL_ORDER]" (click)="toggleCampCheckbox(
                  CampOrder.IS_CANCEL_ORDER,
                  data[CampOrder.NAME],
                  data[CampOrder.ORDER_ID],
                  data[CampOrder.IS_CANCEL_ORDER],
                  getColIndex('S'))">
                  <fa-icon *ngIf="data[CampOrder.IS_CANCEL_ORDER]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                </div>
                <!-- <input type="checkbox" [checked]="data[CampInnOrder.IS_PAID_PRE_FEE]"> -->
              </td>
              <td class="td">
                <button class="btn-editMemo" (click)="updateMemo(OrderType.CAMP, data[CampOrder.ORDER_ID], data[CampOrder.ORDER_MEMO], getColIndex('X'))">
                  <fa-icon class="fa-pen" [icon]="faPen"></fa-icon>
                </button>
                <span>{{data[CampOrder.ORDER_MEMO]}}</span>
                <!-- <span (click)="updateMemo()">{{data[CampOrder.ORDER_MEMO]}}</span> -->
              </td>
              <td class="td">
                {{formatDateTime(data[CampOrder.CREATED_TIME])}}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <app-memo
        *ngIf="isEditMemo"
        [type]="typeMemo"
        [value]="payloadMemo"
        (onclose)="isEditMemo = $event"
        (onupdate)="onUpdateList($event)">
      </app-memo>
    </div>
  </div>

  <hr>
  <!-- 宿屋 -->
  <div class="table-wrap">
    <div class="table-tools">
      <h2>宿屋訂單</h2>
      <div class="table-toolItem" (click)="switchStatus[OrderType.INN].is_cancel_order = !switchStatus[OrderType.INN].is_cancel_order">
        <div class="checkbox checkbox--tool" [class.is-checked]="switchStatus[OrderType.INN].is_cancel_order">
          <fa-icon *ngIf="switchStatus[OrderType.INN].is_cancel_order" class="form-checkmark" [icon]="faCheck"></fa-icon>
        </div>顯示已取消訂單＆過期訂單
      </div>
    </div>
    <div class="table-container">
      <table class="table" *ngIf="!!orderList[OrderType.INN]">
        <thead class="inn">
          <tr class="tr-head inn">
            <th style="min-width:150px">姓名</th>
            <th style="left: 184px" class="th-startDate" (click)="sortByStartDate(OrderType.INN, orderList[OrderType.INN], InnOrder.START_DATE)">入住日期
              <span class="arrow"
                [class.arrow--up]="switchStatus[OrderType.INN].is_sort_by_startDate"
                [class.arrow--down]="!switchStatus[OrderType.INN].is_sort_by_startDate">
              </span>
            </th>
            <th>款項</th>
            <th>操作</th>
            <th>入住資訊</th>
            <th>聯絡方式</th>
            <th>是否取消訂單</th>
            <th>訂單備註</th>
            <th (click)="sortByCreatedDate(OrderType.INN, orderList[OrderType.INN], InnOrder.CREATED_TIME)">訂單建立時間
              <span class="arrow"
                [class.arrow--up]="switchStatus[OrderType.INN].is_sort_by_createdDate"
                [class.arrow--down]="!switchStatus[OrderType.INN].is_sort_by_createdDate">
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of orderList[OrderType.INN]">
            <tr class="tr-body" *ngIf="switchStatus[OrderType.INN].is_cancel_order || !data[InnOrder.IS_CANCEL_ORDER] && !isDue(data[InnOrder.END_DATE])">
              <th class="td td--center" style="min-width:150px">
                {{data[InnOrder.NAME]}}<br>
                <div class="badge is-warning" *ngIf="data[InnOrder.IS_PAID_PRE_FEE]">已付訂</div>
                <div class="badge is-danger" *ngIf="!data[InnOrder.IS_PAID_PRE_FEE]">未付訂</div>
                <span *ngIf="data[InnOrder.IS_CANCEL_ORDER]">(已取消)</span>
                <div class="info" *ngIf="!data[InnOrder.IS_PAID_PRE_FEE] && notPaidPreFee(data[InnOrder.CREATED_TIME])">(逾期未付訂金)</div>
              </th>
              <th class="td td--left" style="left: 184px">
                入住：{{formatDate(data[InnOrder.START_DATE])}}<br>
                離開：{{formatDate(data[InnOrder.END_DATE])}}<br>
                過夜：{{data[InnOrder.NIGHTS]}} 晚<br>
              </th>
              <!-- 款項 -->
              <td class="td td--right">
                訂金：{{data[InnOrder.PREPAID_FEE]}}<br>
                尾款：{{data[InnOrder.REST_FEE]}}<br>
                小計：{{data[InnOrder.TOTAL_FEE]}}<br>
              </td>
              <!-- 操作 -->
              <td class="td td--right">
               <div class="check-area"
                  (click)="toggleInnCheckbox(
                  InnOrder.IS_PAID_PRE_FEE,
                  data[InnOrder.NAME],
                  data[InnOrder.ORDER_ID],
                  data[InnOrder.IS_PAID_PRE_FEE],
                  getColIndex('E'))">
                  已付訂 <div class="checkbox" [class.is-checked]="data[InnOrder.IS_PAID_PRE_FEE]">
                    <fa-icon *ngIf="data[InnOrder.IS_PAID_PRE_FEE]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                </div>
                <div class="check-area"
                  (click)="toggleInnCheckbox(
                  InnOrder.IS_SENT_CONFIRM_LETTER,
                  data[InnOrder.NAME],
                  data[InnOrder.ORDER_ID],
                  data[InnOrder.IS_SENT_CONFIRM_LETTER],
                  getColIndex('Y'))">
                  寄出確認信 <div class="checkbox" [class.is-checked]="data[InnOrder.IS_SENT_CONFIRM_LETTER]">
                    <fa-icon *ngIf="data[InnOrder.IS_SENT_CONFIRM_LETTER]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                  </div>
                </div>
               <div class="check-area"
                (click)="toggleInnCheckbox(
                InnOrder.IS_PAID_REST_FEE,
                data[InnOrder.NAME],
                data[InnOrder.ORDER_ID],
                data[InnOrder.IS_PAID_REST_FEE],
                getColIndex('S'))">
                 結清尾款 <div class="checkbox" [class.is-checked]="data[InnOrder.IS_PAID_REST_FEE]">
                  <fa-icon *ngIf="data[InnOrder.IS_PAID_REST_FEE]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                </div>
               </div>
              </td>
              <!-- 入住資訊 -->
              <td class="td">
                大人：{{data[InnOrder.ADULTS]}} 位<br>
                小孩：{{data[InnOrder.CHILDREN]}} 位<br>
                加單人床：{{data[InnOrder.ADD_BED]}} 張<br>
                <!-- 早餐：{{data[InnOrder.ADD_BREAKFAST]}} 份<br> -->
              </td>
              <!-- 聯絡資訊 -->
              <td class="td">
                訂單編號：{{data[InnOrder.ORDER_ID]}}<br>
                電話：{{data[InnOrder.PHONE]}}<br>
                {{data[InnOrder.EMAIL]}}
              </td>
              <!-- 是否取消訂單 -->
              <td class="td td--center">
                <div class="checkbox" [class.is-checked]="data[InnOrder.IS_CANCEL_ORDER]" (click)="toggleInnCheckbox(
                  InnOrder.IS_CANCEL_ORDER,
                  data[InnOrder.NAME],
                  data[InnOrder.ORDER_ID],
                  data[InnOrder.IS_CANCEL_ORDER],
                  getColIndex('V'))">
                  <fa-icon *ngIf="data[InnOrder.IS_CANCEL_ORDER]" class="form-checkmark" [icon]="faCheck"></fa-icon>
                </div>
                <!-- <input type="checkbox" [checked]="data[CampInnOrder.IS_PAID_PRE_FEE]"> -->
              </td>
              <td class="td">
                <button class="btn-editMemo" (click)="updateMemo(OrderType.INN, data[InnOrder.ORDER_ID], data[InnOrder.ORDER_MEMO], getColIndex('AA'))">
                  <fa-icon class="fa-pen" [icon]="faPen"></fa-icon>
                </button>
                <span>{{data[InnOrder.ORDER_MEMO]}}</span>
                <!-- <span (click)="updateMemo()">{{data[InnOrder.ORDER_MEMO]}}</span> -->
              </td>
              <td class="td">
                {{formatDateTime(data[InnOrder.CREATED_TIME])}}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <app-memo
        *ngIf="isEditMemo"
        [type]="typeMemo"
        [value]="payloadMemo"
        (onclose)="isEditMemo = $event"
        (onupdate)="onUpdateList($event)">
      </app-memo>
    </div>
  </div>
</main>
