@import 'mixin'
@import 'variables'

.hide
  display: none

.wrapper
  height: auto

.startDate-title
  position: relative
  z-index: 1
  padding: 0% 8% 8%
  white-space: nowrap
  +respond-to('tablet')
    padding: 17% 17% 0
  +respond-to('desktop')
    padding: 8% 0 0 18rem

// .order
//   padding: 10% 10% 2% 6%
//   +respond-to('desktop')
//     padding: 0 10% 2% 18rem
.order-form
  display: flex
  flex-flow: column nowrap
  +respond-to('desktop-lg')
    flex-flow: row nowrap
//   +respond-to('desktop')
//     display: flex
//     justify-content: space-between
.order-title-h4
  display: flex
  align-items: center
  padding: 10% 0 6%

// Form
.form-box
  padding: 0% 8%
  +respond-to('tablet')
    padding: 0 12% 4% 18%
  +respond-to('desktop')
    width: 75%
    padding: 0 4% 8% 14rem
  +respond-to('desktop-lg')
    padding:  0 6% 8% 18rem
  // +respond-to('desktop')
  //   flex: 0 0 55%
.form-group
  position: relative
  margin-bottom: 2rem
  // min-height: 80px
  +respond-to('tablet')
    margin-bottom: 5%
  &.none
    display: none
.form-label
  display: inline-block
.form-label-title
  font-size: 1.8rem
  padding-left: 11px
  letter-spacing: 0.2px
  +respond-to('tablet')
    font-size: 2.8rem
.form-label-span
  font-size: 1.5rem
  color: #666
  padding-top: 6px
  line-height: 1.5
  +respond-to('tablet')
    font-size: 2.2rem
.form-input
  outline: none
  font-size: 1.8rem
  align-items: center
  background: #f5f5f1
  border: none
  border-bottom: 1px solid $font-green
  color: $font-green
  display: flex
  justify-content: space-between
  line-height: 1.25
  min-height: 2.75rem
  padding: 8px 12px
  text-align: left
  transition: border .15s ease-in-out
  width: 100%
  +respond-to('tablet')
    font-size: 2.8rem
  &:focus-visible
    outline: none
    border-bottom: 2px solid orange
  &.input--leaveDate
    display: inline-block
    width: auto
    cursor: pointer
  &.is-danger
    border-bottom: 1px solid red
.form-select
  outline: none
  appearance: none
  font-size: 1.8rem
  background: #f5f5f1
  border: none
  border-bottom: 1px solid $font-green
  display: block
  height: 4rem
  position: relative
  text-align: center
  width: 100px
  display: inline-block
  padding: 0 40px
  +respond-to('tablet')
    font-size: 2.8rem
  +respond-to('desktop')
    -moz-appearance: auto
    -webkit-appearance: auto
    appearance: auto
    padding: 0
  &:focus-visible
    outline: none
    border-bottom: 2px solid orange
.form-invalidMsg
  color: red
  padding-top: 4px
  display: block
  font-size: 1.6rem

.order-feeInfo
  position: fixed
  bottom: 0
  width: 100%
  z-index: 2
  left: 0
  right: 0
  background-color: $font-green
  color: $font-light-brown
  display: flex
  justify-content: space-between
  height: 70px
  padding: 0 13%
  box-shadow: 0 -3px 3px #333c3933
  +respond-to('tablet')
    margin-top: 5rem
    position: relative
    padding: 0
    background-color: transparent
    flex-flow: column nowrap
    height: auto
    color: $font-green
    box-shadow: none

// detail
.detail
  display: none
  // position: fixed
  // bottom: 0
  // left: 0
  // right: 0
  // width: 100%
  // background-color: #fff
  // z-index: 999
  // box-shadow: 0 -3px 6px rgb(0 0 0 / 20%)
  +respond-to('desktop')
    display: block
    position: relative
    flex: 0 0 45%
    background-color: transparent
    box-shadow: none
    z-index: 0
    order: 1
.detail-content
  +respond-to('desktop')
    border: 1px solid $font-green
.detail-header
  padding: 4% 6%
  +respond-to('tablet')
    padding: 4% 6% 3%
.detail-row
  display: flex
  width: 100%
  padding: 2% 0
.detail-nights
  padding-top: 4%
.detail-box
  flex: 1 0 50%
.detail-title
  font-size: 1.6rem
  color: #333c39
  letter-spacing: 0.2em
  line-height: 1.5
  margin-bottom: 12px
.detail-footer
  padding: 4% 6%
  display: flex
  justify-content: space-between
  color: $font-pink
  background-color: $font-green
.detail-footer-title
  font-size: 2rem
  font-weight: bold
.detail-footer-text
  font-size: 1.5rem
  font-weight: bold
  text-align: right
  white-space: nowrap
.homestay-img-wrapper
  position: relative
  width: 100%
  margin-top: 10%
  +respond-to('tablet')
    padding: 0 25% 8% 18%
  +respond-to('desktop')
    padding: 8% 8% 8% 0
    width: 58%
    margin: 0 auto
.img-homestay
  // background-image: url('/assets/img/img_intro.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  // background-position: -110px
  padding-bottom: 99%
  margin: 0 auto
  +respond-to('tablet')
    background-size: contain
    background-position: 0
    // margin: 0 0 0 17%
    margin: 0
  +respond-to('desktop')
    // background-position: -110px
    width: 100%
    padding-bottom: 124%
.section-deco-homestay
  position: absolute
  right: 0
  top: 0
  width: 44vw
  height: 28vw
  background-color: #e6e0d1
  z-index: -1
  +respond-to('tablet')
    transform: translateY(74%)
  +respond-to('desktop')
    width: 32vw
    height: 23vw
    transform: translateY(22%)
.section-deco-5
  background-image: url('/assets/img/img_deco_5.png')
  background-repeat: no-repeat
  background-size: contain
  position: absolute
  left: 17%
  z-index: -1
  background-position: top
  padding-bottom: 56%
  width: 30%
  top: 19%
  +respond-to('tablet')
    display: block
    width: 85%
    padding-bottom: 90%
  +respond-to('desktop')
    width: 48%
    padding-bottom: 160%
    top: -10%
    right: 0%
    left: auto

.img-diagram
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  padding-bottom: 60%
  &.diagram--mobile-2
    background-image: url('/assets/img/img_map_2.png')
