
.confirmBox
  position: fixed
  left: 0
  bottom: 0
  right: 0
  top: 0
  width: 100vw
  height: 100%
  z-index: 10
  display: flex
  align-items: center
  justify-content: center
  background-color: rgba(0,0,0,0.05)

.confirmBox-container
  // +size($w: 90%)
  // width: 90%
  // display: flex
  // flex-flow: column nowrap
  // min-height: 200px
  // max-height: 70vh
  // background-color: #F2F2F2
  // border: 1px solid #ffffff
  // border-radius: 15px
  max-width: 60vw
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  pointer-events: auto
  background-color: #fff
  // background-clip: padding-box
  border: 1px solid rgba(0,0,0,0.4)
  border-radius: 0.3rem
  outline: 0
  border-top-left-radius: 0.4rem
  border-top-right-radius: 0.4rem

.confirmBox-head
  // position: relative
  // +pos($p: relative)
  // width: 100%
  // height: 40px
  // color: #fff
  // +size($w: 100%, $h: 40px)
  // +fs($c: #ffffff)
  // display: flex
  // align-items: center
  // justify-content: center
  // border-radius: 15px 15px 0 0
  // background: linear-gradient(180deg, #414141 0%, #6E6E6E 100%)
  // flex: 0 0 auto

  display: flex
  align-items: flex-start
  justify-content: space-between
  padding: 1.2rem
  border-bottom: 1px solid #e9ecef
  border-top-left-radius: 0.3rem
  border-top-right-radius: 0.3rem
  font-size: 1.8rem
  margin-bottom: 0
  line-height: 1.5
  background-color: #0069d9
  color: #fff

.confirmBox-body
  // display: flex
  // overflow: auto
  // // align-items: center
  // flex: 1 1 auto
  // justify-content: center
  // padding: 30px
  // margin-bottom: 10px
  position: relative
  flex: 1 1 auto
  padding: 1.5rem
  font-weight: 1.5rem

.confirmBox-footer
  display: flex
  align-items: center
  justify-content: flex-end
  padding: 1rem
  border-top: 1px solid #e9ecef

// .confirmBox-content
//   font-size: 14px
//   font-weight: bold
//   color: #00205C
//   // +fs($c: #00205C, $fz: 14px, $fw: bold)
//   text-align: center
//   max-height: 350px
.confirmBox-input
  width: 80%
  height: 25px
  font-size: 18px

.btn-close
  position: absolute
  right: 10px
  top: 16px
  width: 25px
  height: 25px
  // +pos($p: absolute, $r: 10px, $t: 8px)
  // +size($w: 25px, $h: 25px)
  border-radius: 50%
  border: 1px solid #F2F2F2
  display: inline-flex
  align-items: center
  justify-content: center
  &::before,
  &::after
    width: 13px
    height: 2px
    position: absolute
    display: inline-block
    // +size($w: 13px, $h: 2px)
    border-radius: 2px
    background-color: #333
    content: ''
  &::before
    transform: rotate(45deg)
  &::after
    transform: rotate(-45deg)

.btn
  display: inline-block
  font-weight: 400
  text-align: center
  white-space: nowrap
  vertical-align: middle
  user-select: none
  border: 1px solid transparent
  padding: 0.375rem 0.75rem
  font-size: 1.5rem
  line-height: 1.5
  border-radius: 0.25rem
  min-width: 80px

.btn-confirm
  // font-size: 14px
  // color: #fff
  // font-weight: bold
  // // +fs($fz: 14px, $c: #fff, $fw: bold)
  // margin: 13px auto 13px auto
  // padding: 8px 44px
  // min-width: 120px
  // border-radius: 5px
  // background: #CB504D
  // letter-spacing: -0.16px
  margin-left: 0.55rem
  color: #fff
  background-color: #007bff
  border-color: #007bff
  &.is-disabled
    opacity: 0.5
.btn-cancel
  color: #fff
  background-color: #6c757d
  border-color: #6c757d
  &.is-disabled
    opacity: 0.5
