<div class="confirmBox">
  <div class="confirmBox-container">
    <div class="confirmBox-head">
      確認修改?
      <!-- {{ props.title }} -->
      <!-- <button class="btn-close" (click)="cancel()">

      </button> -->
    </div>
    <div class="confirmBox-body">
      修改前內容：<div class="confirmBox-content">{{value.updateInput}}</div>
      <br>
      修改訂單編號：{{value.order_id}} 備註內容為下：
      <div>
        <input class="confirmBox-input" type="text" [(ngModel)]="currentValue">
      </div>
    </div>
    <div class="confirmBox-footer">
      <button class="btn btn-cancel" (click)="cancel()" [disabled]="isSumitted" [class.is-disabled]="isSumitted">取消</button>
      <button class="btn btn-confirm" (click)="submit()" [disabled]="isSumitted" [class.is-disabled]="isSumitted">確認</button>
    </div>
  </div>
</div>
