
.confirmBox
  position: fixed
  left: 0
  bottom: 0
  right: 0
  width: 100vw
  height: 100%
  // +pos($p: fixed, $l: 0, $b: 0, $r: 0)
  // +size($w: 100vw, $h: 100%)
  // z-index: z-mobile('popup')
  z-index: 10
  display: flex
  align-items: center
  justify-content: center
  background: rgba(0,0,0,.4)

.confirmBox-container
  // +size($w: 90%)
  width: 90%
  display: flex
  flex-flow: column nowrap
  min-height: 200px
  max-height: 70vh
  background-color: #F2F2F2
  border: 1px solid #ffffff
  border-radius: 15px

.confirmBox-head
  position: relative
  // +pos($p: relative)
  width: 100%
  height: 40px
  color: #fff
  // +size($w: 100%, $h: 40px)
  // +fs($c: #ffffff)
  display: flex
  align-items: center
  justify-content: center
  border-radius: 15px 15px 0 0
  background: linear-gradient(180deg, #414141 0%, #6E6E6E 100%)
  flex: 0 0 auto

.confirmBox-body
  display: flex
  overflow: auto
  // align-items: center
  flex: 1 1 auto
  justify-content: center
  padding: 30px
  margin-bottom: 10px

.confirmBox-content
  font-size: 14px
  font-weight: bold
  color: #00205C
  // +fs($c: #00205C, $fz: 14px, $fw: bold)
  text-align: center
  max-height: 350px

.btn-close
  position: absolute
  right: 10px
  top: 8px
  width: 25px
  height: 25px
  // +pos($p: absolute, $r: 10px, $t: 8px)
  // +size($w: 25px, $h: 25px)
  border-radius: 50%
  border: 1px solid #F2F2F2
  display: inline-flex
  align-items: center
  justify-content: center
  &::before,
  &::after
    width: 13px
    height: 2px
    position: absolute
    display: inline-block
    // +size($w: 13px, $h: 2px)
    border-radius: 2px
    background-color: #fff
    content: ''
  &::before
    transform: rotate(45deg)
  &::after
    transform: rotate(-45deg)

.btn-confirm
  font-size: 14px
  color: #fff
  font-weight: bold
  // +fs($fz: 14px, $c: #fff, $fw: bold)
  margin: 13px auto 13px auto
  padding: 8px 44px
  min-width: 120px
  border-radius: 5px
  background: #CB504D
  letter-spacing: -0.16px
