<div class="confirmBox" *ngIf="props">
  <div class="confirmBox-container">
    <div class="confirmBox-head">
      {{ props.title }}
      <button class="btn-close" (click)="close()"></button>
    </div>
    <div class="confirmBox-body">
      <div class="confirmBox-content">
        <input type="text" [value]="props.msg">
      </div>
    </div>
    <button class="btn-confirm" (click)="submit()">確認</button>
    <button class="btn-confirm" (click)="cancel()">取消</button>
  </div>
</div>
