.toaster
  position: fixed
  top: 0
  left: 0
  right: 0
  display: inline-block
  font-size: 1.5rem
  // +pos($p: fixed, $l: 0, $b: 0, $r: 0)
  // +size($w: 100vw, $h: 100%)
  // z-index: z-mobile('popup')
  z-index: 10
  display: flex
  align-items: center
  justify-content: center
  // background: rgba(0,0,0,.6)

  background-color: #000
  color: white
  padding: 1.2rem
  text-align: center
  border-radius: 4px
  margin: auto
  // transition: top 1s
  animation: fadeOutAni .4s ease forwards
  // transform: translateY(-100%)
  &.is-show
    animation: fadeInAni .4s ease forwards
    // transform: translateY(0)
    // top: 0


@keyframes fadeInAni
  0%
    transform: translateY(-100%)
  100%
    transform: translateY(0)

@keyframes fadeOutAni
  0%
    transform: translateY(0)
  100%
    transform: translateY(-100%)
